<section>

<div id="wrapper">


    <div class="bankforreserv"></div>
      <div id="contentinfo" class="fixheader">
        <div class="contentwrap">
          <div class="background-content">
            <div id="container">
              <div id="content">
                <div id="breadcrumb">
                  <a  ng-click="backToHomePage()" href="#">Home</a><span class="brd-icon icon-rightArrow"></span>Rooms
                </div>
                <section id="header">Rooms</section>
                <div id="box">
                  <article class="box2 fix-width text-center" id="pre-box">
                    <h1>Experience Inspired Living <span>In Our Aztec Hotel Accommodations</span></h1>
                    <div class="firstpara">Discover an inviting home away from home in Aztec Hotel. Blending comfort with convenience, our plushaccommodations feature soothing, aztec-inspired decor, double-sheeted beds with extra-plush mattresses and fluffy pillows from our custom pillow menu.
                      <div class="mobile-boxspacer">&nbsp;</div>
                        Spacious desks and complimentary Wi-Fi keep you productive while ###-inch LCD televisions offer the opportunity for downtime at the end of the day.
                      <div class="mobile-boxspacer">&nbsp;</div>
                      Sleep well after a day of work, sightseeing or family fun and enjoy a host of modern amenities that work for you at our Aztec Hotel.
                    </div>
                  </article>
                </div>
              </div>
              <div class="clear"> </div>
              <div class="amenities-list">
                <div class="carouselitems">
                  <h2 class="padbottom">Amenities That Make A Stay Better</h2>
                </div>
                <div id="rooms-amenities">
                  <!--<a href="javascript:;" class="expand"><span class="sr-only"> All amenities </span></a>-->
                  <ul class="rooms-amenities">
                    <li class="carouselitems">
                      <span class="am-icon icon-wifi2"></span>
                      <span class="icontext">Free Wi-Fi </span>
                      <div class="clear"></div>
                    </li>
                    <li class="carouselitems">
                      <span class="am-icon icon-wide-tv"></span>
                      <span class="icontext">Flat Screen TV</span>
                      <div class="clear"></div>
                    </li>
                    <li class="carouselitems">
                      <span class="am-icon icon-hairdryer-silhouette-side-view"></span>
                      <span class="icontext">Hair Dryer</span>
                      <div class="clear"></div>
                    </li>
                    <li class="carouselitems">
                      <span class="am-icon icon-bath-of-bubbles"></span>
                      <span class="icontext">Bath Amenities</span>
                      <div class="clear"></div>
                    </li>
                    <li class="carouselitems">
                      <span class="am-icon icon-old-radio-with-antenna"></span>
                      <span class="icontext">Clock Radio</span>
                      <div class="clear"></div>
                    </li>
                    <li class="carouselitems">
                      <span class="am-icon icon-pet-hotel-sign-with-a-dog-and-a-cat-under-a-roof-line"></span>
                      <span class="icontext">Service Dogs Allowed</span>
                      <div class="clear"></div>
                    </li>
                    <li class="carouselitems">
                      <span class="am-icon icon-coffee-maker-machine"></span>
                      <span class="icontext">Coffee/Tea Maker</span>
                      <div class="clear"></div>
                    </li>
                    <li class="carouselitems">
                      <span class="am-icon icon-rooms"></span>
                      <span class="icontext">Sofa Bed</span>
                      <div class="clear"></div>
                    </li>
                    <li class="carouselitems">
                      <span class="am-icon icon-coffee-machine"></span>
                      <span class="icontext">Keurig Coffee Machine</span>
                      <div class="clear"></div>
                    </li>
                    <li class="carouselitems">
                      <span class="am-icon icon-upgraded-bathroom-lighting"></span>
                      <span class="icontext">Upgraded Bathroom Lighting</span>
                      <div class="clear"></div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="full-width">
            <div class="snippet-box room-snippet-area">
              <div class="rooms-format snippet-main">
                <div class="edrooms accoleftbox1">
                  <div class="carouselitems snippet-mid">
                    <div class="snippet-images-left">
                      <figure><img src="/modules/rooms/client/img/resourcefiles/roomssmallimages/one-king-bed-non-smoking-in-holiday-inn-palm-beach-airport-th.jpg" alt="One King Bed Non Smoking in Holiday Inn Palm Beach Airport" height="566" width="800"></figure>
                    </div>
                    <div class="snippet-content-right">
                      <div class="snippet-inner">
                        <h2> One King Bed Non Smoking</h2>
                        <div class="roomsnippetdesc content-desc-inner">Come home to our fresh, modern king rooms and get comfortable with an ultra-plush bed, free Wi-Fi, a 32-inch LCD TV, and a refreshingly smoke-free environment.</div>
                        <div class="button-snippet">
                          <a class="button" href="tracking/click-one-king-bed-non-smoking.html" target="_blank">
                            <span aria-hidden="true">Book This Room</span>
                            <span class="sr-only">Book One King Bed Non Smoking Room</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="edrooms accoleftbox2">
                  <div class="carouselitems snippet-mid">
                    <div class="snippet-images-right">
                      <figure><img src="/modules/rooms/client/img/resourcefiles/roomssmallimages/one-king-bed-non-smoking-with-sleeper-sofa-at-holiday-inn-palm-beach-airport-mirror.jpg" alt="One King Bed Non Smoking with Sleeper Sofa at Holiday Inn Palm Beach Airport" height="566" width="800"></figure>
                    </div>
                    <div class="snippet-content-left">
                      <div class="snippet-inner">
                        <h2> One King Bed Non Smoking with Sleeper Sofa</h2>
                        <div class="roomsnippetdesc content-desc-inner">Perfect for families, our spacious, non-smoking King rooms offer complimentary Wi-Fi, a 32-inch LCD TV, a little more space to spread out, and a comfortable sleeper sofa for the kids.</div>
                        <div class="button-snippet">
                          <a class="button" href="tracking/click-one-king-bed-non-smoking-with-sleeper-sofa.html" target="_blank">
                            <span aria-hidden="true">Book This Room</span>
                            <span class="sr-only">Book One King Bed Non Smoking with Sleeper Sofa Room</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="edrooms accoleftbox3">
                  <div class="carouselitems snippet-mid">
                    <div class="snippet-images-left">
                      <figure><img src="/modules/rooms/client/img/resourcefiles/roomssmallimages/two-double-beds-non-smoking-in-holiday-inn-palm-beach-airport-florida-th.jpg" alt="Two Double Beds Non Smoking in Holiday Inn Palm Beach Airport, Florida" height="566" width="800"></figure>
                    </div>
                    <div class="snippet-content-right">
                      <div class="snippet-inner">
                        <h2> Two Double Beds Non Smoking</h2>
                        <div class="roomsnippetdesc content-desc-inner">Groups and families love these non-smoking accommodations that invite relaxation with two double beds, fluffy pillows, complimentary Wi-Fi, a flat-screen TV, and a spacious work desk.</div>
                        <div class="button-snippet">
                          <a class="button" href="tracking/click-two-double-beds-non-smoking.html" target="_blank">
                            <spanaria-hidden="true">Book This Room</span>
                            <span class="sr-only">Book Two Double Beds Non Smoking Room</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="edrooms accoleftbox4">
                  <div class="carouselitems snippet-mid">
                    <div class="snippet-images-right">
                      <figure><img src="/modules/rooms/client/img/resourcefiles/roomssmallimages/holiday-inn-palm-beach-airport-florida-standard-room-th.jpg" alt="Holiday Inn Palm Beach Airport, Florida Standard Room" height="566" width="800"></figure>
                    </div>
                    <div class="snippet-content-left">
                      <div class="snippet-inner">
                        <h2> Standard Room</h2>
                        <div class="roomsnippetdesc content-desc-inner">More than basic hotel rooms, each of standard accommodations goes above and beyond with 32-inch LCD TVs, spacious work desk, complimentary Wi-Fi and plush mattresses for a great night&#39;s sleep.</div>
                        <div class="button-snippet">
                          <a class="button" href="tracking/click-standard-room.html" target="_blank">
                            <span aria-hidden="true">Book This Room</span>
                            <span class="sr-only">Book Standard Room Room</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="clear">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
</div>

</section>
