<section>
<div id="wrapper">
  <div id="middle">



    <div id="mainimage">
      <ul class="slides">
        <li>
          <div class="caption-data desktop-caption"></div>
          <img alt="" height="583" src="/modules/dinings/client/img/resourcefiles/mainimages/dinning-image-jpg.jpg">
        </li>
      </ul>
    </div>

    <div class="bankforreserv"></div>
  </div>

  <div id="contentinfo">
    <div class="contentwrap">
      <div id="container">
        <div id="content">
          <div id="breadcrumb"><a ng-click="backToHomePage()" href="#">Home</a><span class="brd-icon icon-rightArrow"></span>Dining</div>
          <section id="header">Dining</section>
          <div id="box">
            <article class="box2 text-center" id="pre-box">
              <h1>Savor Mexican Cuisine&nbsp;<span>At our Restaurant and Bar in Aztec Hotel</span></h1>
              <div class="firstpara">
                Coastal Florida is a vibrant food and dining destination, where fresh local seafood and exotic international cooking traditions come together in a melting pot of flavors. Start your West Palm Beach culinary adventures with creative American and international fare with all-day dining in the casual atmosphere of h street grille. Wake up to a healthy breakfast of all your morning favorites.
              </div>
              Take a lunch break or enjoy a relaxing dinner with dishes that include seafood, steaks, pastas, salads, burgers and flat breads. Sip cocktails, wines and craft beers while you enjoy appetizers and your favorite sports at the bar. We also offer in-room dining so you can enjoy relaxed dining in the comfort and privacy of your room.
              <p>&nbsp;</p>
            </article>
            <div class="snippet-box dining-snippet-area">
              <div class="snippet-main"><div class="snippet-main">
                <div class="eddining diningleftbox1 carouselitems">
                  <div class="snippet-mid">
                    <div class="snippet-images">
                      <figure> <img alt="h-Street Grille at West Palm Beach Florida Hotel" src="/modules/dinings/client/img/resourcefiles/dining-small-image/h-street-grille-at-waikiki-beachcomber-by-outrigger-hawaii.jpg" height="542" width="766"> </figure>
                    </div>
                    <div class="snippet-content">
                      <div class="snippet-inner">
                        <h2>h street grille</h2>
                        <div class="pkgnippetdesc content-desc-inner">
                          <div class="diningnippetdesc content-desc-inner"> 
                            <p>Enjoy casual, all-day dining at h street grille, our lively hotel restaurant and bar. Wake up to a healthy breakfast, stop by for lunch&nbsp;or end the day with a relaxed dinner. Our bar is the perfect&nbsp;after-work spot, where you can pair your favorite drink with conversation and your favorite sports team.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
              <div class="snippet-main">
                <div class="eddining diningleftbox2 carouselitems">
                  <div class="snippet-mid">
                    <div class="snippet-images">
                      <figure> <img alt="In-Room Dining in West Palm Beach" src="/modules/dinings/client/img/resourcefiles/dining-small-image/in-room-dining-in-west-palm-beach.jpg" height="542" width="766"> </figure>
                    </div>
                    <div class="snippet-content">
                      <div class="snippet-inner">
                        <h2>In-Room Dining</h2>
                        <div class="pkgnippetdesc content-desc-inner">
                          <div class="diningnippetdesc content-desc-inner"> Hungry for a delicious meal but don&#39;t feel like going out? Order room service and enjoy breakfast, lunch, dinner, or a snack in the comfort and privacy of your hotel room. Relax and enjoy great food served. </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="box2"></div>
          <div class="box2 location-attraction-section atr-page-list"></div>
        </div>
        <div class="data-reviews"></div>
      </div>
      <div class="clear"> </div>
    </div>
  </div>
</div>
</section>
