      <div class = "">
        <div class="reservation-bg">
            <div id="reservation">
                <div id="reservationtable">
                    <form enctype="application/x-www-form-urlencoded" target="_blank" method="post" name="resform" id="resform" action="https://www.hipalmbeachairport.com/tracking/click-reservation.aspx">
                        <ul>
                            <li class="custom-reservation">
                                <label class="rtitle" for="checkindate">Check-in</label>
                                <input class="resinputbox" readonly="" id="checkindate" name="checkindate" type="text" value="">
                            </li>
                            <li class="custom-reservation">
                                <label class="rtitle" for="checkoutdate">Check-out</label>
                                <input class="resinputbox" readonly="" id="checkoutdate" name="checkoutdate" type="text" value="">
                            </li>
                            <li class="custom-reservation">
                                <label class="rtitle" for="NumberOfRooms">Rooms</label>
                                <select name="Rooms" id="NumberOfRooms" class="resdropdown">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </li>
                            <li class="custom-reservation">
                                <label class="rtitle" for="NumberOfAdults">Adults</label>
                                <select name="Adults" id="NumberOfAdults" class="resdropdown">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </li>
                            <li class="last-child custom-reservation">
                                <label class="rtitle" for="NumberOfChildrens">Children</label>
                                <select name="Children" id="NumberOfChildrens" class="resdropdown">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </li>
                            <li class=""> 
                                  <a class="button" role="button" href="javascript:{}" onkeypress="reservation_validation(); pushToGtmRenderByDom(this);" onclick="reservation_validation(); pushToGtmRenderByDom(this);" data-autodatalayer="" data-msevent="booking main" data-mscategory="booking entrances" data-msaction="click"><span class="formslable" aria-hidden="true">booking widget</span>Check Availability</a> 
                            </li>
                            <li class="last-child-btn res-text1 remind-me-later" id="remindme"><a class="button" href="javascript:{}" id="bookingremind">Remind me Later</a>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="clear"></div>
                <div id="res-rate-txt"> <a href="https://www.ihg.com/hotels/us/en/customer-care/lowest-internet-rate-terms-conditions" target="_blank" rel="nofollow">Best Rate Guarantee</a></div>
            </div>
        </div> 
    </div>