<div id="wrapper">
  <div id="note">
  <div class="footerLink"> 
    <div class="social-media-wrap">
      <div class="social-media">
        <ul>
          <li> <a class="fb" target="_blank" href="https://www.facebook.com/Holiday-Inn-Palm-Beach-Airport-136202699778044/" rel="nofollow"><span class="icon-facebook de-icon"></span><span class="sr-only"> Facebook Link</span></a></li>
          <li> <a class="tw" target="_blank" href="https://twitter.com/hipalmbeach" rel="nofollow"><span class="icon-twitter de-icon"></span> <span class="sr-only"> twitter Link</span></a> </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <footer class="footer-warp">
    <div class="googleaddress">
      <div class="google-vcard">
        <div class="vcard-align"> </div>
        <div class="title-f">Contact</div>
        <span class="hotelname org"> <span>Aztec Hotel</span> </span>
        <div class="footer-details">
          <div class="adr"> <a href="tracking/click-location-map.html" target="_blank"><span class="street-address">311 W Foothill Blvd</span>, <span class="locality">Monrovia</span>, <span class="f-address"> <span class="region">California</span> <span>91016</span> </span></a> </div>
          <div class="contact-details"> <span class="ph-f">Phone: <span class="tel fontbold spbold"><a href="tel:561-659-3880" data-phonenumber="hotel-property-phone" target="_blank" rel="nofollow">111-111-1111</a></span>
            <span class="pipe mobilefooterpipeblock1">&nbsp; | &nbsp;</span> </span> <span class="fa-f">Toll Free: <span class="fontbold spbold">111-111-1111</span></span> 
          </div>
          <div class="email-detail"><span class="ftr-email">Email: <a href="cdn-cgi/l/email-protection.html#167f787079567e7f6173656266777a7b747377757e3875797b" rel="nofollow"><span class="__cf_email__" data-cfemail="60090e060f2008091705131410010c0d02050103084e030f0d">aztechotelmonrovia@gmail.com</span></a></span>
          </div>
        </div>
        <a href="index.html" class="url">https://www.hipalmbeachairport.com/</a> <span class="hid2-f"></span>
        <div class="review-f"></div>
        <div class="hid-f">
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div><div class="popular-links"> 
      <div class="title-f pl-f">Popular</div> 
      <ul class="footer-ul">
        <li class="f-link1 carouselitems"><a href="suites.html" class="nav">Rooms</a></li>
        <li class="f-link2 carouselitems"><a href="special-pkg.html" class="nav">Specials</a></li>
        <li class="f-link4 carouselitems"><a href="dining.html" class="nav">Dining</a></li>
        <li class="f-link5 carouselitems"><a href="things-to-do.html" class="nav">Things To Do</a></li>
      </ul> 
    </div>
    <div class="helpful">
      <div class="title-f inf-f">Helpful</div> 
      <ul class="footer-ul">
        <li id="helpful1" class="carouselitems"><a href="contact.html" class="nav">Contact</a></li>
        <li id="helpful2" class="carouselitems"><a href="location.html" class="nav">Location</a></li>
        <li id="helpful3" class="carouselitems"><a href="map.html" class="nav">E-Map</a></li>
        <li id="helpful4" class="carouselitems"><a href="meetings-weddings.html" class="nav">Meetings & Weddings</a></li>
      </ul> 
    </div>
    <div class="information">
      <div class="title-f inf-f">Information</div> 
      <ul class="footer-ul">
        <li id="info1" class="carouselitems"><a href="site-map.html" class="nav">Site Map</a></li>
        <li id="info2" class="carouselitems"><a href="privacy-policy.html" class="nav">Privacy & Security Policy</a></li>
        <li id="info3" class="carouselitems"><a href="privacy-policy.html#trademark" class="nav">Trademark Statement</a></li>
        <li id="info4" class="carouselitems"><a href="ada-website-conformance.html" class="nav">ADA Website Conformance</a></li>
      </ul> 
    </div>
    <div id="footer-logos">

      <div id="ihg-logo" class="fl-img" style="height: 55px; width: 181px;"><a rel="nofollow" href="https://www.ihg.com/hotels/gb/en/reservation" target="_blank" data-autodatalayer="" onclick="pushToGtmRenderByDom(this)" data-msevent="booking buttons" data-mscategory="booking entrances" data-msaction="click"><span class="formslable" aria-hidden="true">IHG - Logo</span> <img alt="IHG" src="/modules/core/client/img/brand/images_noindex/ihg-logo.png" height="44" width="109"> </a>
      </div>

      <div id="reward-club-logo1" class="fl-img" style="height: 55px; width: 181px;"><a rel="nofollow" href="https://www.ihg.com/rewardsclub/content/gb/en/home" target="_blank" data-autodatalayer="" onclick="pushToGtmRenderByDom(this)" data-msevent="booking buttons" data-mscategory="booking entrances" data-msaction="click"><span class="formslable" aria-hidden="true">IHG Rewards Club - Logo</span> <img alt="IHG Rewards Club" src="/modules/core/client/img/brand/images_noindex/ihg-rc-new-logo2.png" height="41" width="202"> </a>
      </div>

      <div id="best-price-logo"><a href="https://www.ihg.com/hotels/us/en/customer-care/lowest-internet-rate-terms-conditions" target="_blank" rel="nofollow" data-autodatalayer="" onclick="pushToGtmRenderByDom(this)" data-msevent="booking buttons" data-mscategory="booking entrances" data-msaction="click"><span class="formslable" aria-hidden="true">Best Price Guarantee - Logo</span> <img src="/modules/core/client/img/brand/best-price-guarantee-logo.png" alt="Best Price Guarantee" height="80" width="167"> </a>
      </div>

      <div class="ftlink"><a href="http://www.ad1global.com/" target="_blank" rel="nofollow">Hotel Management by<br> AD1 Global</a></div>

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </footer>
  </div>
</div>
