<div id="wrapper" ng-controller="FooterController as vm">
  <div id="note">
  <div class="footerLink"> 
    <div class="social-media-wrap">
      <div class="social-media">
        <ul>
          <li> <a class="fb" target="_blank" href="#" rel="nofollow"><span class="icon-facebook de-icon"></span><span class="sr-only"> Facebook Link</span></a></li>
          <li> <a class="tw" target="_blank" href="#" rel="nofollow"><span class="icon-twitter de-icon"></span> <span class="sr-only"> twitter Link</span></a> </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <footer class="footer-warp">
    <div class="googleaddress">
      <div class="google-vcard">
        <div class="vcard-align"> </div>
        <div class="title-f">Contact</div>
        <span class="hotelname org"> <span>Aztec Hotel</span> </span>
        <div class="footer-details">
          <div class="adr"> 
            <a ng-click="goToLocation()" href="#" >
              <span class="street-address">311 W Foothill Blvd</span>, 
              <span class="locality">Monrovia</span>, 
              <span class="f-address"> 
                <span class="region">California</span> 
                <span>91016</span> 
              </span>
            </a> 
          </div>

          <div class="contact-details"> 
            <span class="ph-f">Phone: 
              <span class="tel fontbold spbold">
                <a href="tel:561-659-3880" data-phonenumber="hotel-property-phone" target="_blank" rel="nofollow">111-111-1111</a>
              </span>
              <span class="pipe mobilefooterpipeblock1">&nbsp; | &nbsp;</span> 
            </span> <span class="fa-f">Toll Free: 
              <span class="fontbold spbold">111-111-1111</span>
            </span> 
          </div>

          <div class="email-detail">
            <span class="ftr-email">Email: 
              <span class="__cf_email__">aztechotelmonrovia@gmail.com</span></a>
            </span>
          </div>
        </div>

        <a ng-click="backToHomePage()" href="#" class="url">http://www.aztechotelexample.co</a> 
      </div>

      <div class="clear"></div>

    </div>

    <div class="popular-links"> 
      <div class="title-f pl-f">Popular</div> 
      <ul class="footer-ul">
        <li class="f-link1 carouselitems"><a ng-click ="goToRooms()" href="#" class="nav">Rooms</a></li>
        <li class="f-link4 carouselitems"><a ng-click ="goToDining()" href="#" class="nav">Dining</a></li>
        <li class="f-link5 carouselitems"><a ng-click ="goToThingToDo()" href="#" class="nav">Things To Do</a></li>
      </ul> 
    </div>

    <div class="helpful">
      <div class="title-f inf-f">Helpful</div> 
      <ul class="footer-ul">
        <li id="helpful1" class="carouselitems"><a ng-click ="goToContact()" href="#" class="nav">Contact</a></li>
        <li id="helpful2" class="carouselitems"><a ng-click ="goToLocation()" href="#" class="nav">Location</a></li>
        <li id="helpful4" class="carouselitems"><a ng-click ="goToMeetingEvent()" href="#" class="nav">Meeting & Events</a></li>
      </ul> 
    </div>

    <div class="clear"></div>
  </footer>
  </div>
</div>
