<section>

<a class="skip-to-content-btn" href="#box" role="button">Skip to main content</a>
<div id="wrapper">
<!---->
<div id="main">
      

  <!--左上角标题-->
     <!--
<header> 
  <div id="number"> West Palm Beach, Florida <span> <a href="tel:561-659-3880" data-phonenumber="property-phone" target="_blank" rel="nofollow">561-659-3880</a></span> 
  </div>
  <div id="weather-box">
    <div class="sub-weather">
      <div id="currentday"></div>
      <div id="floatingweather"></div>
    </div>
  </div>

  <!--hotel logo-->
     <!--
  <div id="divisinviewport"></div>
  <div id="logo">
    <div class="logo-inner">
      <a href="index.html">
      <img class="img-responsive text-center" alt="Holiday Inn Palm Beach Airport - 1301 Belvedere Rd, West Palm Beach, Florida 33405" src="/modules/core/client/img/brand/holiday-inn-palm-beach-airport-logo.png" height="96" width="133"></a>
    </div>
  </div>

<!--右上角图标 email map review...--->
   <!--
  <div id="subnav">
    <ul>
      <li class="sub-email-offers">node
        <a href="email-offers.html" class="nav"><span class="sub-icon icon-email"></span>Email Offers</a>
      </li>

      <li class="sub-emap">
        <a href="map.html" class="nav"><span class="sub-icon icon-location"></span>E-Map</a>
      </li>

      <li class="sub-reviews">
        <a href="reviews.html" class="nav"><span class="sub-icon icon-quotes-left"></span>Reviews</a>
      </li>

      <li class="sub-photo ">
        <a href="photos.html" class="nav"><span class="sub-icon icon-photo_library"></span>Photos</a>
      </li>
    </ul>
  </div>
</header>
-->

<div id="nav">
  <nav id="topnav">
    <ul class="topnav">
      <li class="home"><a href="index.html" class="nav"><span class="home-icon icon-home"></span><span class="home-text">Home</span></a></li><li class="location"><a href="location.html" class="nav">Location</a></li><li class="stay"><a href="suites.html" class="nav">Rooms</a></li><li class="amenities"><a href="services.html" class="nav">Services</a></li><li class="dining"><a href="dining.html" class="nav">Dining </a></li><li class="logocenter"></li><li class="meetings tright"><a href="meetings-weddings.html" class="nav">Meetings & Weddings</a></li><li class="thingstodo tright"><a href="things-to-do.html" class="things nav">Things To Do</a></li><li class="pkg submenulist tright"><a href="special-pkg.html" class="nav subpkg">Specials</a></li><li class="contact tright"><a href="contact.html" class="nav">Contact</a></li>
    </ul>
    <div class="clear"></div>
  </nav>
</div>

</div>



<div id="middle">

  <!--滚动图片-->
  <div id="mainimage">
    <ul class="slides">
      <li>
        <div class="caption-data desktop-caption"></div>
        <img class="img-responsive text-center" alt="Holiday Inn Palm Beach Airport Florida Hotel" height="583" src="/modules/core/client/img/brand/resourcefiles/homeimages/holiday-inn-palm-beach-airport-florida-top-1.jpg">
      </li>

      <li>
        <div class="caption-data desktop-caption"></div>
        <img alt="Holiday Inn Palm Beach Airport Florida Hotel" height="583" src="/modules/core/client/img/brand/resourcefiles/homeimages/holiday-inn-palm-beach-airport-florida-top-2.jpg">
      </li>

      <li>
        <div class="caption-data desktop-caption"></div>
        <img alt="Holiday Inn Palm Beach Airport Florida Hotel" height="583" src="/modules/core/client/img/brand/resourcefiles/homeimages/holiday-inn-palm-beach-airport-florida-top-3.jpg">
      </li>

      <li>
        <div class="caption-data desktop-caption"></div>
        <img alt="Holiday Inn Palm Beach Airport Florida Hotel" height="583" src="/modules/core/client/img/brand/resourcefiles/homeimages/holiday-inn-palm-beach-airport-florida-top-4.jpg">
      </li>

      <li>
        <div class="caption-data desktop-caption"></div>
        <img alt="Holiday Inn Palm Beach Airport Florida Hotel" height="583" src="/modules/core/client/img/brand/resourcefiles/homeimages/holiday-inn-palm-beach-airport-florida-top-5.jpg">
      </li>

    </ul>
  </div>

  <!--预订表格-->
  <div class="reservation-bg">
    <div id="reservation">
      <div id="reservationtable">
        <form enctype="application/x-www-form-urlencoded" target="_blank" method="post" name="resform" id="resform" action="https://www.hipalmbeachairport.com/tracking/click-reservation.aspx">
          <ul>
            <li class="custom-reservation">
              <label class="rtitle" for="checkindate">Check-in</label>
              <input class="resinputbox" readonly="" id="checkindate" name="checkindate" type="text" value="">
            </li>
            <li class="custom-reservation">
              <label class="rtitle" for="checkoutdate">Check-out</label>
              <input class="resinputbox" readonly="" id="checkoutdate" name="checkoutdate" type="text" value="">
            </li>
            <li class="custom-reservation">
              <label class="rtitle" for="NumberOfRooms">Rooms</label>
              <select name="Rooms" id="NumberOfRooms" class="resdropdown">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </li>

            <li class="custom-reservation">
              <label class="rtitle" for="NumberOfAdults">Adults</label>
                <select name="Adults" id="NumberOfAdults" class="resdropdown">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                </select>
            </li>

            <li class="last-child custom-reservation">
              <label class="rtitle" for="NumberOfChildrens">Children</label>
                <select name="Children" id="NumberOfChildrens" class="resdropdown">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                </select>
            </li>

            <li class=""> 
              <a class="button" role="button" href="javascript:{}" onkeypress="reservation_validation(); pushToGtmRenderByDom(this);" onclick="reservation_validation(); pushToGtmRenderByDom(this);" data-autodatalayer="" data-msevent="booking main" data-mscategory="booking entrances" data-msaction="click">
                <span class="formslable" aria-hidden="true">booking widget</span>Check Availability</a> 
            </li>

            <li class="last-child-btn res-text1 remind-me-later" id="remindme"><a class="button" href="javascript:{}" id="bookingremind">Remind me Later</a></li>
          </ul>
        </form>
      </div>
      <div class="clear"></div>
      <div id="res-rate-txt"> 
        <a href="https://www.ihg.com/hotels/us/en/customer-care/lowest-internet-rate-terms-conditions" target="_blank" rel="nofollow">Best Rate Guarantee</a> 
      </div>
    </div>
  </div>

  <div class="bankforreserv"></div>

</div>

<!--图片下面的东西-->
<div id="fact-box">
  <div class="carouselitems">
    <div class="fact-box-inner">
        <div class="factblock-clock">&nbsp;</div>
        <div class="factblock fact-time">
          <span class="fact-color give spbold">Check-in:</span> 4:00pm<br>
          <span class="fact-color give spbold">Check-out:</span> 11:00am
        </div>

        <div class="factblock fact-room"><span class="fact-color spbold">199 </span><br>
          Rooms
        </div>

        <div class="factblock fea1">Free Wi-Fi</div>
        <div class="factblock fea2">Swimming Pool</div>
        <div class="factblock fea3">Fitness Center</div>
        <div class="factblock fea4">Business Center</div>
    </div>
  </div>
</div>

<div id="contentinfo">

  <!--myke yourself at home 的短文-->
  <div id="container">
    <div id="content">
      <div id="header">Holiday Inn Palm Beach Airport</div>
      <div id="box">
        <article class="box2 text-center">
          <h1>Make Yourself At Home <span>At Our West Palm Beach Hotel</span></h1>
          <div class="firstpara">At the Holiday Inn Palm Beach Airport, our beach-inspired rooms, creative cuisine and stylish event venues inspire you to be productive and experience the best of Florida&#39;s beautiful Orchid City. Stay in the center of it all, just minutes from corporate destinations, fun attractions and the Palm Beach International Airport.
            <div class="mobile-boxspacer">&nbsp;</div>
          Discover the essence of coastal living with soothing decor, plush bedding and modern technology in our inviting guest rooms. Meet or celebrate in 7,000 square feet of flexible venues. Enjoy all-day dining at h street grille, relax by the outdoor pool or work out in our fitness center.
            <div class="mobile-boxspacer">&nbsp;</div>
          Here, you&#39;ll discover a modern destination where you can connect with friends and family while exploring beautiful West Palm Beach.<br> &nbsp;  
          </div>

          <div class="tripadvisor-home">
            <div class="tripadvisor-certificate-main">
              <div class="ajax-tripadvisor">&nbsp;</div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="clear"> </div>
  </div>

  <!--图片展示-->
  <div class="homesection-1"> 
    <div class="menu-item-box">

      <div class="menu-item-list-box menu-item-list-box1">
        <div class="carouselitems">
          <div class="menu-item-contain">
            <div class="menu-item-image">
              <img src="/modules/core/client/img/brand/resourcefiles/home-menu-item/room-in-holiday-inn-palm-beach-airport-florida-th.jpg" alt="Room in Holiday Inn Palm Beach Airport, Florida" width="503" height="432">
            </div>
            <div class="menu-item-desc">
              <div class="menu-item-desc-hover">
                <div class="menu-item-title">
                  <div class="menu-item-title-name">
                    Rooms
                  </div>
                  <div class="menu-item-page-title">
                    Coastal-inspired living
                  </div>
                </div>
                <div class="menu-item-hover-desc">
                  Settle in to modern, beach-inspired&nbsp;rooms with complimentary Wi-Fi, flat-screen TVs, soothing coastal decor, and ultra-plush bedding.
                   <div class="clear"></div>
                  <a href="suites.html">
                  <span aria-hidden="true">See Detail</span>
                  <span class="sr-only">See Rooms Detail</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="menu-item-list-box menu-item-list-box2">
        <div class="carouselitems">
          <div class="menu-item-contain">
            <div class="menu-item-image">
              <img src="/modules/core/client/img/brand/resourcefiles/home-menu-item/dining-snippet.jpg" alt="Dining at Holiday Inn Palm Beach Airport, Florida" width="503" height="432">
            </div>
            <div class="menu-item-desc">
              <div class="menu-item-desc-hover">
                <div class="menu-item-title">
                  <div class="menu-item-title-name">
                    Dining
                  </div>
                  <div class="menu-item-page-title">
                    Creative Florida Cuisine
                  </div>
                </div>
                <div class="menu-item-hover-desc">
                  Wake up to a healthy breakfast, stop by for lunch or enjoy a relaxed dinner and cocktails at our casually elegant hotel restaurant and bar.
                  <div class="clear"></div>
                  <a href="dining.html">
                    <span aria-hidden="true">See Detail</span>
                    <span class="sr-only">See Dining Detail</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="menu-item-list-box menu-item-list-box3">
        <div class="carouselitems">
          <div class="menu-item-contain">
            <div class="menu-item-image">
              <img src="/modules/core/client/img/brand/resourcefiles/home-menu-item/meetings-in-holiday-inn-palm-beach-airport-florida-th.jpg" alt="Meetings in Holiday Inn Palm Beach Airport, Florida" width="503" height="432">
            </div>
            <div class="menu-item-desc">
              <div class="menu-item-desc-hover">
                <div class="menu-item-title">
                  <div class="menu-item-title-name">
                    Meetings
                  </div>
                  <div class="menu-item-page-title">
                    Inspired spaces
                  </div>
                </div>
                <div class="menu-item-hover-desc">
                  Get together in 7,000 square feet of stylish spaces enhanced by the expertise of our event planners and creative catering team.
                  <div class="clear"></div>
                  <a href="meetings-weddings.html">
                    <span aria-hidden="true">See Detail</span>
                   <span class="sr-only">See Meetings Detail</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div> 
  </div>


  <!--reason to stay的片段-->
  <div class="homesection-2">

    <div id="reasons-holder">
      <div class="reasons-home-text-inner carouselitems"> Top 5 Reasons To Stay</div> 
      <div class="reasons-slider"> 

        <div class="reasons-home-box">
          <div class="carouselitems reasons-home-text">
            <a href="services.html">
               <span class="icon-wifi reson-ico"></span>
               <!--
               <span style="color: grey;">
                 <i class="fas fa-wifi fa-3x reson-ico"></i>
               </span>  -->
               <div class="reasons-home-desc"> Free High Speed WiFi<span></span></div>
            </a>
          </div>
        </div>

        <div class="reasons-home-box">
          <div class="carouselitems reasons-home-text">
            <a href="dining.html">
              <span class="icon-glass reson-ico"></span>
              <!--
               <span style="color: grey;">
                 <i class="fas fa-glass-martini-alt fa-3x reson-ico"></i>
               </span>  
           -->
              <div class="reasons-home-desc"> h street grille <span></span></div>
            </a>
          </div>
        </div>

        <div class="reasons-home-box">
          <div class="carouselitems reasons-home-text">
            <a href="meetings-weddings.html">
            	<!--
               <span style="color: grey;">
                 <i class="fas fa-handshake fa-3x reson-ico"></i>
               </span>  
           -->
              <span class="icon-meeting reson-ico"></span>
              <div class="reasons-home-desc"> Meeting Space & Catering available</div>
            </a>
          </div>
        </div>

        <div class="reasons-home-box">
          <div class="carouselitems reasons-home-text">
            <a href="services.html">
            	<!--
               <span style="color: grey;">
                 <i class="fas fa-shuttle-van fa-3x reson-ico"></i>
               </span>               -->
              <span class="icon-microbus reson-ico"></span>
              <div class="reasons-home-desc"> Free Shuttle Bus</div>
            </a>
          </div>
        </div>

        <div class="reasons-home-box">
          <div class="carouselitems reasons-home-text">
            <a href="suites.html">
            	<!--
               <span style="color: grey;">
                 <i class="fas fas fa-tv fa-3x reson-ico"></i>
               </span> -->
              <span class="icon-wide-tv reson-ico"></span>
              <div class="reasons-home-desc"> HDTVs in <span>every room</span></div>
            </a>
          </div>
        </div>

      </div>
    </div> 

    <!--thing to do 的片段-->
    <div id="home-ttd-holder"> 
      <div class="home-ttd-slider">
        <div class="ttd-home-box">
          <div class="ttd-home-textbox carouselitems">
            <div class="ttd-home-text">
              <div class="ttd-home-text-inner">
                Things To Do
              </div>
              <div class="ttd-home-desc">Get to know vibrant West Palm Beach. Wander through exhibits at the Flagler Museum, meet&nbsp;the animals at the Palm Beach Zoo or go shopping at CityPlace Mall.&nbsp;From pro&nbsp;baseball and world-class performing arts to live dog racing, explore the many interesting attractions in our neighborhood.</div>
                <div class="ttd-home-button">
                  <a href="things-to-do.html" class="button">
                    <span aria-hidden="true"> See Details</span>
                    <span class="sr-only"> See Things To Do Details</span>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>


  <div class="homesection-3">
    <!--图片介绍-->
    <div class="dining-box-left"> 

      <div class="dining-item-box dining-item-box1">
        <div class="dining-item-list-box carouselitems dining-item-list-box1">
          <div class="dining-item-contain">
            <div class="dining-item-image"> 
              <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item1/palm-beach-zoo-at-west-palm-beach-th.jpg" alt="Palm Beach Zoo at West Palm Beach" width="218" height="448"> 
            </div>
            <div class="dining-item-desc">
              <div class="dining-item-desc-hover">
                <div class="dining-item-title">
                  <div class="dining-item-page-title"><a href="things-to-do/palm-beach-zoo.html"> Palm Beach Zoo</a> </div>
                  <div class="dining-item-page-details"> Exotic birds &amp; animals </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dining-box-left-right"> 
        <div class="dining-item-box dining-item-box2">
          <div class="dining-item-list-box carouselitems dining-item-list-box1">
            <div class="dining-item-contain">
              <div class="dining-item-image"> 
                <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item2/west-palm-beach-kravis-center-florida-th.jpg" alt="West Palm Beach Kravis Center, Florida" width="528" height="170"> 
              </div>
              <div class="dining-item-desc">
                <div class="dining-item-desc-hover">
                  <div class="dining-item-title">
                    <div class="dining-item-page-title"> 
                      <a href="things-to-do/kravis-center.html">Kravis Center</a> 
                    </div>
                    <div class="dining-item-page-details"> Concerts, lectures &amp; performing arts </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="dining-item-box dining-item-box3">
          <div class="dining-item-list-box carouselitems dining-item-list-box1">
            <div class="dining-item-contain">
              <div class="dining-item-image"> 
                <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item3/the-ballpark-of-the-palm-beaches-at-florida-th.jpg" alt="The Ballpark of The Palm Beaches at Florida" width="528" height="268"> 
              </div>
              <div class="dining-item-desc">
                <div class="dining-item-desc-hover">
                  <div class="dining-item-title">
                    <div class="dining-item-page-title"> 
                      <a href="things-to-do/the-ballpark-of-the-palm-beaches.html"> The Ballpark of The Palm Beaches </a> 
                    </div>
                    <div class="dining-item-page-details"> Washington Nationals &amp; Houston Astros Baseball&nbsp; </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 

      </div>

      <div class="clear"></div>

    </div>

    <div class="dining-box-right"> 

      <div class="dining-item-box dining-item-box4">
        <div class="dining-item-list-box carouselitems dining-item-list-box1">
          <div class="dining-item-contain">
            <div class="dining-item-image"> 
              <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item4/palm-beach-kennel-club-at-florida-th.jpg" alt="Palm Beach Kennel Club at Florida" width="417" height="272"> 
            </div>
            <div class="dining-item-desc">
              <div class="dining-item-desc-hover">
                <div class="dining-item-title">
                  <div class="dining-item-page-title"> <a href="things-to-do/palm-beach-kennel-club.html">Palm Beach Kennel Club </a></div>
                  <div class="dining-item-page-details"> Live dog racing, simulcast wagering &amp; poker room </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <div class="dining-item-box dining-item-box5">
        <div class="dining-item-list-box carouselitems dining-item-list-box1">
          <div class="dining-item-contain">
            <div class="dining-item-image"> <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item5/lion-country-safari-at-west-palm-beach-florida-th.jpg" alt="Lion Country Safari at West Palm Beach Florida" width="203" height="165"> </div>
            <div class="dining-item-desc">
              <div class="dining-item-desc-hover">
                <div class="dining-item-title">
                  <div class="dining-item-page-title"> <a href="things-to-do/lion-country-safari.html"> Lion Country Safari </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="dining-item-list-box carouselitems dining-item-list-box2">
          <div class="dining-item-contain">
            <div class="dining-item-image"> <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item5/palm-beach-outlets-in-florida-th.jpg" alt="Palm Beach Outlets in Florida" width="203" height="165"> </div>
            <div class="dining-item-desc">
              <div class="dining-item-desc-hover">
                <div class="dining-item-title">
                 <div class="dining-item-page-title"> <a href="things-to-do/palm-beach-outlets.html"> Palm Beach Outlets </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div> 
    </div>

    <div class="clear"></div>
  </div>

  <!--package 片段-->
  <div class="homesection-4"> 
    <div class="home-page-offers carouselitems">
      <div class="offer-main-title"><a href="special-pkg.html">Packages<span>Get Away To West Palm Beach</span></a></div>
      <div class="offer-main-content">Escape to sunny Florida for a weekend getaway, family vacation or productive work trip. Our special packages entice you with great low rates, exciting activities, exclusive travel perks like IHG Rewards, and so much more. Book and save today.</div>
    </div>

    <!--优势图片-->
    <div id="offers-slider">
      <div class="offers-item-box">

        <div class="offers-item-list-box carouselitems offers-item-list-box1">
          <div class="offers-item-contain">
            <div class="offers-item-image">
              <img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/enjoy-25-off-smart-fares3.jpg" alt="West Palm Beach Florida Hotel Enjoy 25% Off Smart Fares" width="503" height="432">
            </div>
            <div class="offers-item-desc">
              <div class="offers-item-desc-hover">
                <div class="offers-item-title">
                  <div class="offers-item-page-title">Enjoy 25% Off Smart Fares</div>
                  <div class="offers-item-page-details"><a href="special-pkg.html"> see details </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="offers-item-list-box carouselitems offers-item-list-box2">
          <div class="offers-item-contain">
            <div class="offers-item-image">
              <img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/west-palm-beach-florida-hotel-best-flex-with-breakfast-th.jpg" alt="West Palm Beach Florida Hotel Best Flex with Breakfast" width="503" height="432">
            </div>
            <div class="offers-item-desc">
              <div class="offers-item-desc-hover">
                <div class="offers-item-title">
                  <div class="offers-item-page-title">Best Flex with Breakfast</div>
                  <div class="offers-item-page-details"><a href="special-pkg/best-flex-with-breakfast.html"> see details </a></div>
                </div>
              </div>
            </div>
          </div>
        </div> 

        <div class="offers-item-list-box carouselitems offers-item-list-box3">
          <div class="offers-item-contain">
            <div class="offers-item-image"><img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/ihg-rewards-1000-point-package-in-holiday-inn-palm-beach-airport-florida-th.jpg" alt="IHG Rewards 1,000 Point Package in Holiday Inn Palm Beach Airport, Florida" width="503" height="432">
            </div>
            <div class="offers-item-desc">
              <div class="offers-item-desc-hover">
                <div class="offers-item-title">
                  <div class="offers-item-page-title">IHG Rewards 1,000 Point Package</div>
                  <div class="offers-item-page-details"><a href="special-pkg.html"> see details </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="offers-item-list-box carouselitems offers-item-list-box4">
          <div class="offers-item-contain">
            <div class="offers-item-image"><img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/ihg-rewards-5000-point-package-at-holiday-inn-palm-beach-airport-florida-th.jpg" alt="West Palm Beach Florida Hotel IHG Rewards 5,000 Point Package" width="503" height="432">
            </div>
            <div class="offers-item-desc">
              <div class="offers-item-desc-hover">
                <div class="offers-item-title">
                  <div class="offers-item-page-title">IHG Rewards 5,000 Point Package</div>
                  <div class="offers-item-page-details"><a href="special-pkg.html"> see details </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="offers-item-list-box carouselitems offers-item-list-box5">
          <div class="offers-item-contain">
            <div class="offers-item-image"><img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/west-palm-beach-hotel-summer-2018-teachers-and-educators-package.jpg" alt="Summer 2018 Teachers & Educators Package" width="503" height="432">
            </div>
          <div class="offers-item-desc">
            <div class="offers-item-desc-hover">
              <div class="offers-item-title">
                <div class="offers-item-page-title">Summer 2018 Teachers & Educators Package</div>
                <div class="offers-item-page-details"><a href="special-pkg/summer-2018-teachers-educators-package.html"> see details </a></div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="offers-item-list-box carouselitems offers-item-list-box6">
        <div class="offers-item-contain">
          <div class="offers-item-image"><img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/west-palm-beach-hotel-first-responders-package.jpg" alt="First Responders Package" width="503" height="432"></div>
          <div class="offers-item-desc">
            <div class="offers-item-desc-hover">
              <div class="offers-item-title">
                <div class="offers-item-page-title">First Responders Package</div>
                <div class="offers-item-page-details"><a href="special-pkg/first-responders-package.html"> see details </a></div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="offers-item-list-box carouselitems offers-item-list-box7">
        <div class="offers-item-contain">
          <div class="offers-item-image"><img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/west-palm-beach-hotel-rain-gain-package.jpg" alt="Rain Gain Package" width="503" height="432"></div>
          <div class="offers-item-desc">
            <div class="offers-item-desc-hover">
              <div class="offers-item-title">
                <div class="offers-item-page-title">Rain Gain Package</div>
                <div class="offers-item-page-details"><a href="special-pkg/rain-gain-package.html"> see details </a></div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="offers-item-list-box carouselitems offers-item-list-box8">
        <div class="offers-item-contain">
          <div class="offers-item-image"><img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/park-stay-and-go-in-west-palm-beach-florida-hotel-th.jpg" alt="Park Stay and Go in West Palm Beach Florida Hotel" width="503" height="432"></div>
          <div class="offers-item-desc">
            <div class="offers-item-desc-hover">
              <div class="offers-item-title">
                <div class="offers-item-page-title">Park Stay and Go</div>
                <div class="offers-item-page-details"><a href="special-pkg/park-stay-and-go.html"> see details </a></div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="offers-item-list-box carouselitems offers-item-list-box9">
        <div class="offers-item-contain">
          <div class="offers-item-image"><img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/west-palm-beach-hotel-florida-craft-brewery-tour-package-th.jpg" alt="West Palm Beach Hotel Florida Craft Brewery Tour Package" width="503" height="432">
          </div>
          <div class="offers-item-desc">
            <div class="offers-item-desc-hover">
              <div class="offers-item-title">
                <div class="offers-item-page-title">Florida Craft Brewery Tour Package</div>
                <div class="offers-item-page-details"><a href="special-pkg/florida-craft-brewery-tour-package.html"> see details </a></div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="offers-item-list-box carouselitems offers-item-list-box10">
        <div class="offers-item-contain">
          <div class="offers-item-image"><img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/florida-hotel-gold-family-reunion-package-th.jpg" alt="Florida Hotel Gold Family Reunion Package" width="503" height="432"></div>
          <div class="offers-item-desc">
            <div class="offers-item-desc-hover">
              <div class="offers-item-title">
                <div class="offers-item-page-title">Gold Family Reunion Package</div>
                <div class="offers-item-page-details"><a href="special-pkg/gold-family-reunion-package.html"> see details </a></div>
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div class="offers-item-list-box carouselitems offers-item-list-box11">
        <div class="offers-item-contain">
          <div class="offers-item-image"><img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/corporate-choice-package-in-west-palm-beach-florida-hotel-th.jpg" alt="Corporate Choice Package in West Palm Beach Florida Hotel" width="503" height="432"></div>
          <div class="offers-item-desc">
            <div class="offers-item-desc-hover">
              <div class="offers-item-title">
                <div class="offers-item-page-title">Corporate Choice Package</div>
                <div class="offers-item-page-details"><a href="special-pkg/corporate-choice-package.html"> see details </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="offers-item-list-box carouselitems offers-item-list-box12">
        <div class="offers-item-contain">
          <div class="offers-item-image"><img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/book-early-and-save-with-breakfast-at-west-palm-beach-florida-hotel-th.jpg" alt="Book Early and Save with Breakfast at West Palm Beach Florida Hotel" width="503" height="432"></div>
          <div class="offers-item-desc">
            <div class="offers-item-desc-hover">
              <div class="offers-item-title">
                <div class="offers-item-page-title">Book Early and Save with Breakfast</div>
                <div class="offers-item-page-details"><a href="special-pkg/book-early-and-save-with-breakfast.html"> see details </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--google 地图-->
<div class="homesection-6"> 
  <div class="middle-section-map Home">
    <div class="main_mapholder" id="main_mapholder">
      <div id="window1"></div>
      <div id='gmap_canvas' class="location-map">
        <div id="homecanvas">
          <div id="map" style="width: 100%; height:100%;"></div>
        </div>
      </div>
      <div id="content_window"></div>
    </div>
  </div>
  <div id="ttd-holder"> 
    <div class="map-slide-item carouselitems">
      <div class="map-home-titletext">Location</div>
      <div class="map-home-text">
        <div class="map-home-desc">Explore our neighborhood to discover fun activities and&nbsp;attractions, from shopping and dining at CityPlace&nbsp;to exotic animals at Lion Country Safari&nbsp;and high-octane racing at the Palm Beach Kennel Club.</div>
        <div class="map-home-details-button"> <a href="location.html" class="button2">See Details</a> </div>
      </div>
    </div>
  </div> 
</div>
</div>

<div id="note">
  <div class="footerLink"> 
    <div class="social-media-wrap">
      <div class="social-media">
        <ul>
          <li> <a class="fb" target="_blank" href="https://www.facebook.com/Holiday-Inn-Palm-Beach-Airport-136202699778044/" rel="nofollow"><span class="icon-facebook de-icon"></span><span class="sr-only"> Facebook Link</span></a></li>
          <li> <a class="tw" target="_blank" href="https://twitter.com/hipalmbeach" rel="nofollow"><span class="icon-twitter de-icon"></span> <span class="sr-only"> twitter Link</span></a> </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <footer class="footer-warp">
    <div class="googleaddress">
      <div class="google-vcard">
        <div class="vcard-align"> </div>
        <div class="title-f">Contact</div>
        <span class="hotelname org"> <span>Holiday Inn Palm Beach Airport</span> </span>
        <div class="footer-details">
          <div class="adr"> <a href="tracking/click-location-map.html" target="_blank"><span class="street-address">1301 Belvedere Rd</span>, <span class="locality">West Palm Beach</span>, <span class="f-address"> <span class="region">Florida</span> <span>33405</span> </span></a> </div>
          <div class="contact-details"> <span class="ph-f">Phone: <span class="tel fontbold spbold"><a href="tel:561-659-3880" data-phonenumber="hotel-property-phone" target="_blank" rel="nofollow">561-659-3880</a></span>
            <span class="pipe mobilefooterpipeblock1">&nbsp; | &nbsp;</span> </span> <span class="fa-f">Toll Free: <span class="fontbold spbold">877-320-8454</span></span> 
          </div>
          <div class="email-detail"><span class="ftr-email">Email: <a href="cdn-cgi/l/email-protection.html#167f787079567e7f6173656266777a7b747377757e3875797b" rel="nofollow"><span class="__cf_email__" data-cfemail="60090e060f2008091705131410010c0d02050103084e030f0d">[email&#160;protected]</span></a></span>
          </div>
        </div>
        <a href="index.html" class="url">https://www.hipalmbeachairport.com/</a> <span class="hid2-f"></span>
        <div class="review-f"></div>
        <div class="hid-f">
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div><div class="popular-links"> 
      <div class="title-f pl-f">Popular</div> 
      <ul class="footer-ul">
        <li class="f-link1 carouselitems"><a href="suites.html" class="nav">Rooms</a></li>
        <li class="f-link2 carouselitems"><a href="special-pkg.html" class="nav">Specials</a></li>
        <li class="f-link4 carouselitems"><a href="dining.html" class="nav">Dining</a></li>
        <li class="f-link5 carouselitems"><a href="things-to-do.html" class="nav">Things To Do</a></li>
      </ul> 
    </div>
    <div class="helpful">
      <div class="title-f inf-f">Helpful</div> 
      <ul class="footer-ul">
        <li id="helpful1" class="carouselitems"><a href="contact.html" class="nav">Contact</a></li>
        <li id="helpful2" class="carouselitems"><a href="location.html" class="nav">Location</a></li>
        <li id="helpful3" class="carouselitems"><a href="map.html" class="nav">E-Map</a></li>
        <li id="helpful4" class="carouselitems"><a href="meetings-weddings.html" class="nav">Meetings & Weddings</a></li>
      </ul> 
    </div>
    <div class="information">
      <div class="title-f inf-f">Information</div> 
      <ul class="footer-ul">
        <li id="info1" class="carouselitems"><a href="site-map.html" class="nav">Site Map</a></li>
        <li id="info2" class="carouselitems"><a href="privacy-policy.html" class="nav">Privacy & Security Policy</a></li>
        <li id="info3" class="carouselitems"><a href="privacy-policy.html#trademark" class="nav">Trademark Statement</a></li>
        <li id="info4" class="carouselitems"><a href="ada-website-conformance.html" class="nav">ADA Website Conformance</a></li>
      </ul> 
    </div>
    <div id="footer-logos">

      <div id="ihg-logo" class="fl-img" style="height: 55px; width: 181px;"><a rel="nofollow" href="https://www.ihg.com/hotels/gb/en/reservation" target="_blank" data-autodatalayer="" onclick="pushToGtmRenderByDom(this)" data-msevent="booking buttons" data-mscategory="booking entrances" data-msaction="click"><span class="formslable" aria-hidden="true">IHG - Logo</span> <img alt="IHG" src="/modules/core/client/img/brand/images_noindex/ihg-logo.png" height="44" width="109"> </a>
      </div>

      <div id="reward-club-logo1" class="fl-img" style="height: 55px; width: 181px;"><a rel="nofollow" href="https://www.ihg.com/rewardsclub/content/gb/en/home" target="_blank" data-autodatalayer="" onclick="pushToGtmRenderByDom(this)" data-msevent="booking buttons" data-mscategory="booking entrances" data-msaction="click"><span class="formslable" aria-hidden="true">IHG Rewards Club - Logo</span> <img alt="IHG Rewards Club" src="/modules/core/client/img/brand/images_noindex/ihg-rc-new-logo2.png" height="41" width="202"> </a>
      </div>

      <div id="best-price-logo"><a href="https://www.ihg.com/hotels/us/en/customer-care/lowest-internet-rate-terms-conditions" target="_blank" rel="nofollow" data-autodatalayer="" onclick="pushToGtmRenderByDom(this)" data-msevent="booking buttons" data-mscategory="booking entrances" data-msaction="click"><span class="formslable" aria-hidden="true">Best Price Guarantee - Logo</span> <img src="/modules/core/client/img/brand/best-price-guarantee-logo.png" alt="Best Price Guarantee" height="80" width="167"> </a>
      </div>

      <div class="ftlink"><a href="http://www.ad1global.com/" target="_blank" rel="nofollow">Hotel Management by<br> AD1 Global</a></div>

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </footer>
</div>

</div>

</section>
