<section>

<div id="wrapper">


<div id="middle">

  <div id="mainimage">
  	<div id="myCarousel" class="carousel slide" data-ride="carousel">
   	 <!-- Indicators -->
    	<ol class="carousel-indicators">
      		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      		<li data-target="#myCarousel" data-slide-to="1"></li>
      		<li data-target="#myCarousel" data-slide-to="2"></li>
    	    <li data-target="#myCarousel" data-slide-to="3"></li>
      		<li data-target="#myCarousel" data-slide-to="4"></li>
    	</ol>


   		<!-- Wrapper for slides -->
    	<div class="carousel-inner">
      		<div class="item active">
        		<img src="/modules/core/client/img/brand/resourcefiles/homeimages/holiday-inn-palm-beach-airport-florida-top-1.jpg" alt="Los Angeles" style="width:100%;">
        		<!--<img src="/modules/core/client/img/aztec_image/patio.jpg" alt="Aztec_Hotel_lobby" style="width:100%;">-->
      		</div>

      		<div class="item">
        		<img src="/modules/core/client/img/brand/resourcefiles/homeimages/holiday-inn-palm-beach-airport-florida-top-2.jpg" alt="Chicago" style="width:100%;">
        		<!--<img src="/modules/core/client/img/aztec_image/lobby_2.jpg" alt="Aztec_Hotel_lobby" style="width:100%; height: 407px;">-->
      		</div>
    
      		<div class="item">
        		<img src="/modules/core/client/img/brand/resourcefiles/homeimages/holiday-inn-palm-beach-airport-florida-top-3.jpg" alt="New york" style="width:100%;">
      		</div>

      		<div class="item">
        		<img src="/modules/core/client/img/brand/resourcefiles/homeimages/holiday-inn-palm-beach-airport-florida-top-4.jpg" alt="Chicago" style="width:100%;">
      		</div>
    
      		<div class="item">
        		<img src="/modules/core/client/img/brand/resourcefiles/homeimages/holiday-inn-palm-beach-airport-florida-top-5.jpg" alt="New york" style="width:100%;">
      		</div>

    	</div>

        <!-- Left and right controls -->
   		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
     		<span class="glyphicon glyphicon-chevron-left"></span>
      		<span class="sr-only">Previous</span>
   		 </a>
    	<a class="right carousel-control" href="#myCarousel" data-slide="next">
      		<span class="glyphicon glyphicon-chevron-right"></span>
      		<span class="sr-only">Next</span>
    	</a>
  	</div>
  </div>



  <div class="bankforreserv"></div>

</div>

<!--图片下面的东西-->
<div id="fact-box">
  <div class="carouselitems">
    <div class="fact-box-inner">
        <div class="factblock-clock">&nbsp;</div>
        <div class="factblock fact-time">
          <span class="fact-color give spbold">Check-in:</span> 4:00pm<br>
          <span class="fact-color give spbold">Check-out:</span> 12:00am
        </div>

        <div class="factblock fact-room"><span class="fact-color spbold">44 </span><br>
          Rooms
        </div>

        <div class="factblock fea1">Free Wi-Fi</div>
        <div class="factblock fea2">Patio</div>
        <div class="factblock fea3">Banquet Room</div>
        <div class="factblock fea4">Historical Architecture</div>
    </div>
  </div>
</div>

<div id="contentinfo">

  <!--myke yourself at home 的短文-->
  <div id="container">
    <div id="content">
      <div id="header">Aztec Hotel</div>
      <div id="box">
        <article class="box2 text-center">
          <h1>Make Yourself At Home <span>At Our Aztec Hotel</span></h1>
          <div class="firstpara">At the Holiday Inn Palm Beach Airport, our beach-inspired rooms, creative cuisine and stylish event venues inspire you to be productive and experience the best of Florida&#39;s beautiful Orchid City. Stay in the center of it all, just minutes from corporate destinations, fun attractions and the Palm Beach International Airport.
            <div class="mobile-boxspacer">&nbsp;</div>
          Discover the essence of coastal living with soothing decor, plush bedding and modern technology in our inviting guest rooms. Meet or celebrate in 7,000 square feet of flexible venues. Enjoy all-day dining at h street grille, relax by the outdoor pool or work out in our fitness center.
            <div class="mobile-boxspacer">&nbsp;</div>
          Here, you&#39;ll discover a modern destination where you can connect with friends and family while exploring beautiful West Palm Beach.<br> &nbsp;  
          </div>

          <div class="tripadvisor-home">
            <div class="tripadvisor-certificate-main">
              <div class="ajax-tripadvisor">&nbsp;</div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="clear"> </div>
  </div>

  <!--图片展示-->
  <div class="homesection-1"> 
    <div class="menu-item-box">

      <div class="menu-item-list-box menu-item-list-box1">
        <div class="carouselitems">
          <div class="menu-item-contain">
            <div class="menu-item-image">
              <img src="/modules/core/client/img/brand/resourcefiles/home-menu-item/room-in-holiday-inn-palm-beach-airport-florida-th.jpg" alt="Room in Holiday Inn Palm Beach Airport, Florida" width="503" height="432">
            </div>
            <div class="menu-item-desc">
              <div class="menu-item-desc-hover">
                <div class="menu-item-title">
                  <div class="menu-item-title-name">
                    Rooms
                  </div>
                  <div class="menu-item-page-title">
                    Coastal-inspired living
                  </div>
                </div>
                <div class="menu-item-hover-desc">
                  Settle in to modern, beach-inspired&nbsp;rooms with complimentary Wi-Fi, flat-screen TVs, soothing coastal decor, and ultra-plush bedding.
                   <div class="clear"></div>
                  <a href="suites.html">
                  <span aria-hidden="true">See Detail</span>
                  <span class="sr-only">See Rooms Detail</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="menu-item-list-box menu-item-list-box2">
        <div class="carouselitems">
          <div class="menu-item-contain">
            <div class="menu-item-image">
              <img src="/modules/core/client/img/brand/resourcefiles/home-menu-item/dining-snippet.jpg" alt="Dining at Holiday Inn Palm Beach Airport, Florida" width="503" height="432">
            </div>
            <div class="menu-item-desc">
              <div class="menu-item-desc-hover">
                <div class="menu-item-title">
                  <div class="menu-item-title-name">
                    Dining
                  </div>
                  <div class="menu-item-page-title">
                    Creative Florida Cuisine
                  </div>
                </div>
                <div class="menu-item-hover-desc">
                  Wake up to a healthy breakfast, stop by for lunch or enjoy a relaxed dinner and cocktails at our casually elegant hotel restaurant and bar.
                  <div class="clear"></div>
                  <a href="dining.html">
                    <span aria-hidden="true">See Detail</span>
                    <span class="sr-only">See Dining Detail</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="menu-item-list-box menu-item-list-box3">
        <div class="carouselitems">
          <div class="menu-item-contain">
            <div class="menu-item-image">
              <img src="/modules/core/client/img/brand/resourcefiles/home-menu-item/meetings-in-holiday-inn-palm-beach-airport-florida-th.jpg" alt="Meetings in Holiday Inn Palm Beach Airport, Florida" width="503" height="432">
            </div>
            <div class="menu-item-desc">
              <div class="menu-item-desc-hover">
                <div class="menu-item-title">
                  <div class="menu-item-title-name">
                    Meetings
                  </div>
                  <div class="menu-item-page-title">
                    Inspired spaces
                  </div>
                </div>
                <div class="menu-item-hover-desc">
                  Get together in 7,000 square feet of stylish spaces enhanced by the expertise of our event planners and creative catering team.
                  <div class="clear"></div>
                  <a href="meetings-weddings.html">
                    <span aria-hidden="true">See Detail</span>
                   <span class="sr-only">See Meetings Detail</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div> 
  </div>


  <!--reason to stay的片段-->
  <div class="homesection-2">

    <div id="reasons-holder">
      <div class="reasons-home-text-inner carouselitems"> Top 5 Reasons To Stay</div> 
      <div class="reasons-slider"> 

        <div class="reasons-home-box">
          <div class="carouselitems reasons-home-text">
            <a href="services.html" style="text-decoration:none;">
               <span class="icon-wifi reson-ico"></span>
               <!--
               <span style="color: grey;">
                 <i class="fas fa-wifi fa-3x reson-ico"></i>
               </span>  -->
               <div class="reasons-home-desc"> Free High Speed WiFi<span></span></div>
            </a>
          </div>
        </div>

        <div class="reasons-home-box">
          <div class="carouselitems reasons-home-text">
            <a href="dining.html" style="text-decoration:none;">
              <span class="icon-glass reson-ico"></span>
              <!--
               <span style="color: grey;">
                 <i class="fas fa-glass-martini-alt fa-3x reson-ico"></i>
               </span>  
           -->
              <div class="reasons-home-desc"> h street grille <span></span></div>
            </a>
          </div>
        </div>

        <div class="reasons-home-box">
          <div class="carouselitems reasons-home-text">
            <a href="meetings-weddings.html" style="text-decoration:none;">
            	<!--
               <span style="color: grey;">
                 <i class="fas fa-handshake fa-3x reson-ico"></i>
               </span>  
           -->
              <span class="icon-meeting reson-ico"></span>
              <div class="reasons-home-desc"> Meeting Space & Catering available</div>
            </a>
          </div>
        </div>

        <div class="reasons-home-box">
          <div class="carouselitems reasons-home-text">
            <a href="services.html" style="text-decoration:none;">
            	<!--
               <span style="color: grey;">
                 <i class="fas fa-shuttle-van fa-3x reson-ico"></i>
               </span>               -->
              <span class="icon-microbus reson-ico"></span>
              <div class="reasons-home-desc"> Free Shuttle Bus</div>
            </a>
          </div>
        </div>

        <div class="reasons-home-box">
          <div class="carouselitems reasons-home-text">
            <a href="suites.html" style="text-decoration:none;">
            	<!--
               <span style="color: grey;">
                 <i class="fas fas fa-tv fa-3x reson-ico"></i>
               </span> -->
              <span class="icon-wide-tv reson-ico"></span>
              <div class="reasons-home-desc"> HDTVs in <span>every room</span></div>
            </a>
          </div>
        </div>

      </div>
    </div> 

    <!--thing to do 的片段-->
    <div id="home-ttd-holder"> 
      <div class="home-ttd-slider">
        <div class="ttd-home-box">
          <div class="ttd-home-textbox carouselitems">
            <div class="ttd-home-text">
              <div class="ttd-home-text-inner">
                Things To Do
              </div>
              <div class="ttd-home-desc">Get to know vibrant West Palm Beach. Wander through exhibits at the Flagler Museum, meet&nbsp;the animals at the Palm Beach Zoo or go shopping at CityPlace Mall.&nbsp;From pro&nbsp;baseball and world-class performing arts to live dog racing, explore the many interesting attractions in our neighborhood.</div>
                <div class="ttd-home-button">
                  <a href="things-to-do.html" class="button">
                    <span aria-hidden="true"> See Details</span>
                    <span class="sr-only"> See Things To Do Details</span>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>


  <div class="homesection-3">
    <!--图片介绍-->
    <div class="dining-box-left"> 

      <div class="dining-item-box dining-item-box1">
        <div class="dining-item-list-box carouselitems dining-item-list-box1">
          <div class="dining-item-contain">
            <div class="dining-item-image"> 
              <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item1/palm-beach-zoo-at-west-palm-beach-th.jpg" alt="Palm Beach Zoo at West Palm Beach" width="218" height="448"> 
            </div>
            <div class="dining-item-desc">
              <div class="dining-item-desc-hover">
                <div class="dining-item-title">
                  <div class="dining-item-page-title"><a href="things-to-do/palm-beach-zoo.html"> Palm Beach Zoo</a> </div>
                  <div class="dining-item-page-details"> Exotic birds &amp; animals </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dining-box-left-right"> 
        <div class="dining-item-box dining-item-box2">
          <div class="dining-item-list-box carouselitems dining-item-list-box1">
            <div class="dining-item-contain">
              <div class="dining-item-image"> 
                <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item2/west-palm-beach-kravis-center-florida-th.jpg" alt="West Palm Beach Kravis Center, Florida" width="528" height="170"> 
              </div>
              <div class="dining-item-desc">
                <div class="dining-item-desc-hover">
                  <div class="dining-item-title">
                    <div class="dining-item-page-title"> 
                      <a href="things-to-do/kravis-center.html">Kravis Center</a> 
                    </div>
                    <div class="dining-item-page-details"> Concerts, lectures &amp; performing arts </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="dining-item-box dining-item-box3">
          <div class="dining-item-list-box carouselitems dining-item-list-box1">
            <div class="dining-item-contain">
              <div class="dining-item-image"> 
                <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item3/the-ballpark-of-the-palm-beaches-at-florida-th.jpg" alt="The Ballpark of The Palm Beaches at Florida" width="528" height="268"> 
              </div>
              <div class="dining-item-desc">
                <div class="dining-item-desc-hover">
                  <div class="dining-item-title">
                    <div class="dining-item-page-title"> 
                      <a href="things-to-do/the-ballpark-of-the-palm-beaches.html"> The Ballpark of The Palm Beaches </a> 
                    </div>
                    <div class="dining-item-page-details"> Washington Nationals &amp; Houston Astros Baseball&nbsp; </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 

      </div>

      <div class="clear"></div>

    </div>

    <div class="dining-box-right"> 

      <div class="dining-item-box dining-item-box4">
        <div class="dining-item-list-box carouselitems dining-item-list-box1">
          <div class="dining-item-contain">
            <div class="dining-item-image"> 
              <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item4/palm-beach-kennel-club-at-florida-th.jpg" alt="Palm Beach Kennel Club at Florida" width="417" height="272"> 
            </div>
            <div class="dining-item-desc">
              <div class="dining-item-desc-hover">
                <div class="dining-item-title">
                  <div class="dining-item-page-title"> <a href="things-to-do/palm-beach-kennel-club.html">Palm Beach Kennel Club </a></div>
                  <div class="dining-item-page-details"> Live dog racing, simulcast wagering &amp; poker room </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <div class="dining-item-box dining-item-box5">
        <div class="dining-item-list-box carouselitems dining-item-list-box1">
          <div class="dining-item-contain">
            <div class="dining-item-image"> <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item5/lion-country-safari-at-west-palm-beach-florida-th.jpg" alt="Lion Country Safari at West Palm Beach Florida" width="203" height="165"> </div>
            <div class="dining-item-desc">
              <div class="dining-item-desc-hover">
                <div class="dining-item-title">
                  <div class="dining-item-page-title"> <a href="things-to-do/lion-country-safari.html"> Lion Country Safari </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="dining-item-list-box carouselitems dining-item-list-box2">
          <div class="dining-item-contain">
            <div class="dining-item-image"> <img src="/modules/core/client/img/brand/resourcefiles/home-dining-item5/palm-beach-outlets-in-florida-th.jpg" alt="Palm Beach Outlets in Florida" width="203" height="165"> </div>
            <div class="dining-item-desc">
              <div class="dining-item-desc-hover">
                <div class="dining-item-title">
                 <div class="dining-item-page-title"> <a href="things-to-do/palm-beach-outlets.html"> Palm Beach Outlets </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div> 
    </div>

    <div class="clear"></div>
  </div>

  <!--package 片段-->
  <div class="homesection-4"> 
    <div class="home-page-offers carouselitems">
      <div class="offer-main-title"><a href="special-pkg.html" style="text-decoration:none;">Packages<span>Get Away To West Palm Beach</span></a></div>
      <div class="offer-main-content">Escape to sunny Florida for a weekend getaway, family vacation or productive work trip. Our special packages entice you with great low rates, exciting activities, exclusive travel perks like IHG Rewards, and so much more. Book and save today.</div>
    </div>


    <!--multiple carousel if it has more3 than 4 item-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">
          
          <div class="item active">
          	<!--#1-->
            <div class="col-xs-3">

            	<div class="offers-item-image">
              		<img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/enjoy-25-off-smart-fares3.jpg" alt="West Palm Beach Florida Hotel Enjoy 25% Off Smart Fares" width="503" height="432">
            	</div>
           		<div class="offers-item-desc">
              		<div class="offers-item-desc-hover">
                		<div class="offers-item-title">
                  			<div class="offers-item-page-title">Enjoy 25% Off Smart Fares</div>
                  			<div class="offers-item-page-details"><a href="special-pkg.html"> see details </a></div>
                		</div>
             		</div>
            	</div>

            </div>


          		<!--#2-->
            <div class="col-xs-3">
            	<div class="offers-item-image">
              		<img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/west-palm-beach-florida-hotel-best-flex-with-breakfast-th.jpg" alt="West Palm Beach Florida Hotel Best Flex with Breakfast" width="503" height="432">
            	</div>
           		<div class="offers-item-desc">
              		<div class="offers-item-desc-hover">
                		<div class="offers-item-title">
                  			<div class="offers-item-page-title">Best Flex with Breakfast</div>
                  			<div class="offers-item-page-details"><a href="special-pkg/best-flex-with-breakfast.html"> see details </a></div>
                		</div>
             		</div>
            	</div>

            </div>


          		<!--#3-->
            <div class="col-xs-3">
            	<div class="offers-item-image">
					         <img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/ihg-rewards-1000-point-package-in-holiday-inn-palm-beach-airport-florida-th.jpg" alt="IHG Rewards 1,000 Point Package in Holiday Inn Palm Beach Airport, Florida" width="503" height="432">
            	</div>
           		<div class="offers-item-desc">
              		<div class="offers-item-desc-hover">
                		<div class="offers-item-title">
                  			<div class="offers-item-page-title">IHG Rewards 1,000 Point Package</div>
                  			<div class="offers-item-page-details"><a href="special-pkg.html"> see details </a></div>
                		</div>
             		</div>
            	</div>

            </div>

          		<!--#4-->
            <div class="col-xs-3">
            	<div class="offers-item-image">
					         <img src="/modules/core/client/img/brand/resourcefiles/home-offer-box/ihg-rewards-5000-point-package-at-holiday-inn-palm-beach-airport-florida-th.jpg" alt="West Palm Beach Florida Hotel IHG Rewards 5,000 Point Package" width="503" height="432">
            	</div>
           		<div class="offers-item-desc">
              		<div class="offers-item-desc-hover">
                		<div class="offers-item-title">
                  			<div class="offers-item-page-title">IHG Rewards 5,000 Point Package</div>
                  			<div class="offers-item-page-details"><a href="special-pkg.html"> see details </a></div>
                		</div>
             		</div>
            	</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</style>
<script type="text/javascript">
  // Instantiate the Bootstrap carousel
$('.multi-item-carousel').carousel({
  interval: false
});

// for every slide in carousel, copy the next slide's item in the slide.
// Do the same for the next, next item.
$('.multi-item-carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  } else {
  	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
</script>
  </div>
</div>


<!--google 地图-->

<div class="homesection-6"> 
  <div class="row justify-content-md-center">
<div class="col-lg-1"></div>
    <div class="col-lg-6">
    	<iframe  class= "location-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.80065504455!2d-118.00798928567798!3d34.151441819945155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2d9434149c1c1%3A0xb1391055dac3c68!2s311%20W%20Foothill%20Blvd%2C%20Monrovia%2C%20CA%2091016!5e0!3m2!1sen!2sus!4v1596325897552!5m2!1sen!2sus" width=100% height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <!--<div id="map_canvas" class="location-map" style="width: 100%; height: 500px;" ng-controller="HomeController as Home"></div>-->
    </div>
    <div class="col-lg-4">
      <div id="ttd-holder"> 
        <div class="map-slide-item carouselitems">
          <div class="map-home-titletext">Location</div>
            <div class="map-home-text">
              <div class="map-home-desc">Explore our neighborhood to discover fun activities and&nbsp;attractions, from shopping and dining at CityPlace&nbsp;to exotic animals at Lion Country Safari&nbsp;and high-octane racing at the Palm Beach Kennel Club.</div>
              <div class="map-home-details-button"> <a href="location.html" class="button2">See Details</a> </div>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>

<!--script for google map-->
<script>
function myMap() {

var mapProp= {
  center:new google.maps.LatLng(34.151570,-118.005770),
   //center:new google.maps.LatLng(center.latitude,center.longitude),
  zoom:17,
};
var map = new google.maps.Map(document.getElementById("map_canvas"),mapProp);

var marker = new google.maps.Marker({
  position:map.center,
  animation:google.maps.Animation.BOUNCE
});

marker.setMap(map);

var infowindow = new google.maps.InfoWindow({
  content:
          "<span style='font-family:Times New Roman, Times, serif'>"+
          "<b>Aztec Hotel</b><br><br>" +

          "311 W Foothill Blvd, Monrovia, CA, 91016 <br><br>" +
          "Phone: 111-111-1111" +
          "</span>"
});

infowindow.open(map,marker);

}

</script>

<!--
<script src="https://maps.googleapis.com/maps/api/js?key="    "&callback=myMap"></script>
-->



</div>

</div>


</section>
