<section>
<div id="wrapper">


 <!--page start from here-->
  <div class="bankforreserv"></div>
    <div id="contentinfo" class="fixheader">
      <div class="contentwrap">
        <div id="container">
          <div id="content">
            <div id="breadcrumb">
              <a ng-click="backToHomePage()" href="#">Home</a>
              <span class="brd-icon icon-rightArrow"></span>Meetings & Weddings
            </div>
            <div id="header">Meetings & Weddings</div>
            <div id="box"> 
              <div class="box2 text-center">
                <h1>Inspire, Celebrate & Connect <span>Captivating Venues in Aztec Hotel</span></h1>
                <div class="firstpara">
                  Make a lasting impression when you plan your next meeting, corporate event or social gathering at Aztec Hotel. With ### square feet of flexible spaces, exceptional planning services and inviting accommodations, our hotel is a modern destination for San Gabriel Valley meetings, weddings and celebrations.
               </div>
              </div>
            </div>

            <div class="clear"> </div>
            <div class="meetings-slider"> 
                <div class="module-asidetab">
                  <div class="modual-contact carouselitems">
                    <div class="modual-contact-text">Questions? Call us Monday - Friday (9am-5pm)</div>
                    <div class="modual-contact-no">
                      <span class="icon-mobile"></span><a href="tel:111-111-1111" data-phonenumber="property-phone" target="_blank" rel="nofollow">111-111-1111</a>
                    </div>
                    <div class="modual-contact-mail">
                      <span class="boldtext">Email Us</span> 
                      <span class = "spbold">aztechotelmonrovia@gmail.com</span>
                    </div>
                  </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"> </div>


      <div id="venue-slider">
        <div class="venue-slider-title">

          <div class="carouselitems">
            <h2><a href="meetings-weddings/venues-amenities.html">Venues</a></h2>
            <div class="venue-slider-desc">
              With ### square feet of flexible meeting and celebration space, the area&#39;s top catering and banquet service team&nbsp;ready to serve, our hotel provides everything you need to set the stage for success.
            </div>
          </div> 
        </div>

        <div class="home-signature-box" >
          <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
              <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>


            <!-- Wrapper for slides -->
            <div class="carousel-inner carousel-inner-custom">
              <!--  0 ----->
              <div class="item active">
                <img src="/modules/meeting-events/client/img/resourcefiles/homeslidervenue/belvedere-room-at-holiday-inn-palm-beach-airport.jpg" style="width:100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="signature-info">
                      <div class="signature-slider-title">Belvedere <span> Room </span></div>
                      <div class="signature-slider-desc">
                        From wedding receptions and corporate banquets to dynamic conferences, our 2,288 square foot Belvedere Room offers stylish decor and plenty of space for all your guests.
                      </div>
                    </div>
                  </div>
              </div>

              <!--  1 ----->
              <div class="item">
                <img src="/modules/meeting-events/client/img/resourcefiles/homeslidervenue/lecture-hall-at-holiday-inn-palm-beach-airport-florida.jpg" style="width:100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <div class="signature-info">
                      <div class="signature-slider-title">Lecture Hall</div>
                      <div class="signature-slider-desc">
                        With 1,360 square feet of modern meeting space, state-of-the-art technology services and a choice of comfortable seating options, your presentation will never look better.
                      </div>
                    </div>
                  </div> 
              </div>
    
              <!--  2 ----->
              <div class="item">
                <img src="/modules/meeting-events/client/img/resourcefiles/homeslidervenue/congress-room-in-west-palm-beach-florida-hotel.jpg"  style="width:100%;">
                <div class="carousel-caption d-none d-md-block">
                  <div class="signature-info">
                    <div class="signature-slider-title">Congress Room</div>
                    <div class="signature-slider-desc">
                      Our 550 square foot Congress Room features modern decor, high-tech audiovisual and catering services that are perfect for&nbsp;meetings, business presentations and breakout sessions.
                    </div>
                  </div>
                </div>
              </div>

              <!--  3 ----->
              <div class="item">
                <img src="/modules/meeting-events/client/img/resourcefiles/homeslidervenue/boardroom-in-holiday-inn-palm-beach-airport-florida.jpg" style="width:100%;">
                <div class="carousel-caption d-none d-md-block">
                  <div class="signature-info">
                    <div class="signature-slider-title">Boardroom</div>
                    <div class="signature-slider-desc">
                      703 square feet of contemporary space, an executive table with luxury seating for 14 and modern audiovisual services set the scene for your success.
                    </div>
                  </div>
                </div>  
              </div>
    
              <!--  4 ----->    
              <div class="item">
                <img src="/modules/meeting-events/client/img/resourcefiles/homeslidervenue/military-room-facilities-at-holiday-inn-palm-beach-airport.jpg"  style="width:100%;">
                <div class="carousel-caption d-none d-md-block">
                  <div class="signature-info">
                    <div class="signature-slider-title">Military Room</div>
                    <div class="signature-slider-desc">
                      Our 550 square foot Military Room accommodates your meetings, business presentations and breakout sessions with&nbsp;modern decor, high-tech audiovisual and creative catering services.
                    </div>
                  </div>
                </div>
              </div>

              <!--  5 ----->
              <div class="item">
                <img src="/modules/meeting-events/client/img/resourcefiles/homeslidervenue/west-palm-beach-florida-hotel-australian-room.jpg" style="width:100%;">
                <div class="carousel-caption d-none d-md-block">
                  <div class="signature-info">
                    <div class="signature-slider-title">Australian Room</div>
                    <div class="signature-slider-desc">
                      Plan a meeting, business presentation or breakout session with modern technology, catering services and 550 square feet of flexible space for your guests.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="clear"> </div>
      </div>

        <div class="meetings-snippets">
          <div class="snippet-box meetings-format snippet-main"> 
            <div class="edmeetings meetingsleftbox1 carouselitems">
              <div class="snippet-mid">

                <div class="snippet-images-left">
                  <figure> <img src="/modules/meeting-events/client/img/resourcefiles/meetings-snippets/weddings-th.jpg" alt="Weddings at West Palm Beach Florida" height="566" width="800"> </figure>
                </div>

                <div class="snippet-content-right">
                  <div class="snippet-inner">
                    <h2 class="snippet-inner-title"> Weddings </h2>
                    <div class="pkgnippetdesc content-desc-inner">
                      <div class="pkgnippetdesc content-desc-inner">
                        <div class="snippet-inner-info">
                          <div class="snippet-desc">
                            Say &quot;I do&quot; surrounded by friends, family and the chic atmosphere of our West Palm Beach event venues. From expert wedding planners to creative catering services, we&#39;ll take care of all the details so you can enjoy the celebration. Plan your celebration now.
                          </div>
                          <div class="dining-pdflinks"> </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="clear"></div>

              </div>
            </div>

            <div class="edmeetings meetingsleftbox2 carouselitems">
              <div class="snippet-mid">

                <div class="snippet-images-right">
                  <figure> <img src="/modules/meeting-events/client/img/resourcefiles/meetings-snippets/quinceanera-hotel-palmbeach.jpg" alt="Holiday Inn Palm Beach Airport Quinceañeras, Florida" height="566" width="800"> </figure>
                </div>

                <div class="snippet-content-left">
                  <div class="snippet-inner">
                    <h2 class="snippet-inner-title"> Quinceañeras </h2>
                    <div class="pkgnippetdesc content-desc-inner">
                      <div class="pkgnippetdesc content-desc-inner">
                        <div class="snippet-inner-info">
                          <div class="snippet-desc">
                            Our elegant Palm Beach party venues, expert event planners and custom catering services are here to support your vision so you can relax and celebrate life's important milestones. Plan your perfect Quinceañeras celebration at our modern hotel now.</div>
                            <div class="dining-pdflinks"> </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>


                </div>
              </div>
              <div class="edmeetings meetingsleftbox3 carouselitems">
                <div class="snippet-mid">

                  <div class="snippet-images-left">
                    <figure> <img src="/modules/meeting-events/client/img/resourcefiles/meetings-snippets/business-meetings-in-holiday-inn-palm-beach-airport-th.jpg" alt="Meetings That Matter in Holiday Inn Palm Beach Airport" height="566" width="800"> </figure>
                  </div>

                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2 class="snippet-inner-title"> Meetings That Matter </h2>
                      <div class="pkgnippetdesc content-desc-inner">
                        <div class="pkgnippetdesc content-desc-inner">
                          <div class="snippet-inner-info">
                            <div class="snippet-desc">
                              From executive interviews to important business presentations, our modern hotel provides stylish venues, high-tech audiovisual services and planning support with everything you need for dynamic meetings in West Palm Beach. Inspire and connect in new ways.
                            </div>
                            <div class="dining-pdflinks"> </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>


                </div>
              </div>
              <div class="edmeetings meetingsleftbox4 carouselitems">
                <div class="snippet-mid">

                  <div class="snippet-images-right">
                    <figure> <img src="/modules/meeting-events/client/img/resourcefiles/meetings-snippets/belvedere-room-at-holiday-inn-palm-beach-airport.jpg" alt="Flexible Spaces, Smart Services in Holiday Inn Palm Beach Airport, Florida" height="566" width="800"> </figure>
                  </div>

                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2 class="snippet-inner-title"> Flexible Spaces, Smart Services </h2>
                      <div class="pkgnippetdesc content-desc-inner">
                        <div class="pkgnippetdesc content-desc-inner">
                          <div class="snippet-inner-info">
                            <div class="snippet-desc">
                              With 7,000 square feet of flexible event venues, professional meeting planners and business services like free Wi-Fi and airport shuttle service, our hotel offers a full menu of amenities for your next meeting in West Palm Beach. Plan your event now.
                            </div>
                            <div class="dining-pdflinks"> </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>

                </div>
              </div>
              <div class="edmeetings meetingsleftbox5 carouselitems">
                <div class="snippet-mid">

                  <div class="snippet-images-left">
                    <figure> <img src="/modules/meeting-events/client/img/resourcefiles/meetings-snippets/meeting-packages-catering-at-holiday-inn-palm-beach-airport-th.jpg" alt="Meeting Packages at Holiday Inn Palm Beach Airport" height="566" width="800"> </figure>
                  </div>

                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2 class="snippet-inner-title"> Meeting Packages </h2>
                      <div class="pkgnippetdesc content-desc-inner">
                        <div class="pkgnippetdesc content-desc-inner">
                          <div class="snippet-inner-info">
                            <div class="snippet-desc">
                              Take the stress out of planning your next meeting or special event. Our complete meeting packages include flexible venues, catering services and audiovisual services for events of any size.
                            </div>
                            <div class="dining-pdflinks"> </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>

                </div>
              </div>
            </div>
          </div>

          <div class="content_services">
          	<div class="serviceinner"> 
          		<div class="servicetop"> 
          			<div class="carouselitems">
          				<div class="service-title">Top 5 Services</div>

          			</div> 
          		</div>
          		<div class="ind_amenity animation-element slide-fade-in carouselitems">
          			<div class="ame_img">
          				<span class="icon-business-meeting con-icon"> </span>
          			</div>
          			<div class="ame_name">7 Unique Venues</div>
          		</div>
          		<div class="ind_amenity animation-element slide-fade-in carouselitems">
          			<div class="ame_img">
          				<span class="icon-group con-icon"> </span>
          			</div>
          			<div class="ame_name">Up to 150 Guests</div>
          		</div>
          		<div class="ind_amenity animation-element slide-fade-in carouselitems">
          			<div class="ame_img">
          				<span class="icon-calendar5 con-icon"> </span>
          			</div>
          			<div class="ame_name">Event Planning</div>
          		</div>
          		<div class="ind_amenity animation-element slide-fade-in carouselitems">
          			<div class="ame_img">
          				<span class="icon-wifi con-icon"> </span>
          			</div>
          			<div class="ame_name">Free Wi-Fi</div>
          		</div>
          		<div class="ind_amenity animation-element slide-fade-in carouselitems">
          			<div class="ame_img">
          				<span class="icon-office con-icon"> </span>
          			</div>
          			<div class="ame_name">Catering</div>
          		</div>
          		<div class="clear"> </div> 
          	</div>
          	<div class="clear"></div>
          </div>
          <div class="meeting-main box2">
            <div class="meeting-box carouselitems">
              <div class="meeting-title">
                <h2>Meeting Key Highlights</h2>
              </div>

              <div class="meeting-max-attendee-capacity">
                <strong>Maximum Attendee Capacity:</strong> 150
              </div>
              <div class="meeting-max-floor-size">
                <strong>Floor Size:</strong> 7,000 sq ft. of Venue Space
              </div>
              <div class="meeting-number-rooms">
                <strong>Number Of Rooms:</strong> 7
              </div>
              <div class="boxspacer">&nbsp;</div>
              <h3>Amenities</h3>
              <div class="meeting-amenity-feature">
                <ul>
                  <li>Beach Inspired Accommodations</li>
                  <li>Audiovisual Equipment with Tech Support</li>
                  <li>Group Parking</li>
                </ul>
              </div>
            </div>
          </div>
          <br><br>
</div>




</section>
