<section>
<div id="wrapper">
  <div id="middle">



 

    <div id="mainimage">
      <ul class="slides">
        <li>
          <div class="caption-data desktop-caption"></div>
          <img alt="Services in Holiday Inn Palm Beach Airport, Florida Hotel" height="583" src="/modules/services/client/img/resourcefiles/mainimages/new-20-02-2020-jpg.jpg">
        </li>
      </ul>
    </div>

    <div class="bankforreserv"></div>
  </div>


  <div id="contentinfo">
    <div class="contentwrap">
      <div id="container">
        <div id="content">
          <div id="breadcrumb">
            <a ng-click="backToHomePage()" href="#">Home</a><span class="brd-icon icon-rightArrow"></span>Services
          </div>
          <section id="header">Services</section>
          <div id="box">
            <article class="box2 text-center">
              <h1>Exceptional Travel Amenities For Work Or Play <span>West Palm Beach Hotel Services</span></h1>
              <div class="firstpara">
                  With beach-inspired style, inviting gathering spaces and modern amenities, Holiday Inn Palm Beach Airport was designed to meet the needs of today&#39;s corporate and leisure traveler. From a business center and dry cleaning service to a refreshing outdoor pool, free Wi-Fi and casual dining, you&#39;ll enjoy experiences that help you balance work time and relaxation. Plan an event in our flexible venues. Pick up souvenirs or sundries at the gift shop.
                <div class="mobile-boxspacer">&nbsp;</div>
                  Enjoy creative food, cocktails and your favorite sports at at The h street grille. Hop aboard our complimentary shuttle for a ride to the airport or go discover attractions in West Palm Beach. Holiday Inn Palm Beach Airport provides personalized services that invite you to enjoy a relaxing stay here in sunny Florida.
                <div class="boxspacer">&nbsp;</div>
                <div class="mobile-boxspacer">&nbsp;</div>
                <h2>A Healthy Life On the Go</h2>
                  Designed for business and leisure travelers with an active lifestyle, our hotel in Palm Beach, FL makes it easy to keep up with your workouts or unwind after a long day. Recharge in our 24-hour fitness center with treadmills, cross trainers/elliptical machines, bikes, free weights, mats, resistance bands, balls, and TVs with disposable earbuds.
                <div class="mobile-boxspacer">&nbsp;</div>
                  Relax and cool off at our refreshing outdoor pool, open daily from dusk till dawn. Soak up the Florida sunshine on the pool deck with comfortable loungers for an afternoon of bliss.
              </div>
            </article>

            <article class="box2">.
              <!--booking button-->
              <!--<div class="servicebtn"><a class="button" href="tracking/click-services.html" rel="nofollow" target="_blank">Book Now</a></div>-->
              <h2 class="padbottom2">Services & Amenities</h2>
              <section class="clear">&nbsp;</section>
              <div class="service-list">
                <ul>
                  <li><span class="icon-amenities icon-gift">&nbsp;</span>Gift Shop</li>
                  <li><span class="icon-amenities icon-sedan-car-model">&nbsp;</span>Self Parking</li>
                  <li><span class="icon-amenities icon-atm">&nbsp;</span>ATM/Banking</li>
                  <li><span class="icon-amenities icon-couple-of-men-drinking-in-a-bar">&nbsp;</span>Poolside Bar</li>
                  <li><span class="icon-amenities icon-washing-machine2">&nbsp;</span>Laundry Facilities</li>
                  <li><span class="icon-amenities icon-wifi2">&nbsp;</span>Complimentary Wi-Fi</li>
                  <li><span class="icon-amenities icon-no-smoking-sign">&nbsp;</span>Entirely Non-Smoking Property</li>
                  <li><span class="icon-amenities icon-telephone">&nbsp;</span>Wake-up Calls</li>
                  <li><span class="icon-amenities icon-exercise2">&nbsp;</span>Fitness Center</li>

                  <li><span class="icon-amenities icon-reception1">&nbsp;</span>24-hour Front Desk</li>
                  <li><span class="icon-amenities icon-pool">&nbsp;</span>Outdoor Pool & Patio</li>
                  <li><span class="icon-amenities icon-suit-on-hanger">&nbsp;</span>Dry Cleaning Service</li>
                  <li><span class="icon-amenities icon-dining-room-cutlery-set-of-three-pieces-in-silhouettes">&nbsp;</span>h street grille</li>
                  <li><span class="icon-amenities icon-room-service">&nbsp;</span>Room Service</li>
                  <li><span class="icon-amenities icon-team">&nbsp;</span>Business Center</li>
                  <li><span class="icon-amenities icon-users">&nbsp;</span>Multilingual Staff</li>
                  <li><span class="icon-amenities icon-moneybox">&nbsp;</span>Safe Deposit Box</li>
                  <li><span class="icon-amenities icon-microbus">&nbsp;</span>Free Airport Shuttle</li>
                  <li><span class="icon-amenities icon-double-king-size-bed2">&nbsp;</span>Sofa Beds Available</li>
                  <li><span class="icon-amenities icon-breakfast-time">&nbsp;</span>Breakfast Available (surcharge)</li>
                </ul>
              </div>
            </article>
            <div class="box2"></div>
            <div class="box2 location-attraction-section atr-page-list"></div>
          </div>
          <div class="data-reviews"></div>
        </div>
        <div class="clear"> </div>
      </div>
    </div>
  </div>

</section>
