<section>
<div id="wrapper">
        <div class="reservation-bg">
            <div id="reservation">
                <div id="reservationtable">
                    <form enctype="application/x-www-form-urlencoded" target="_blank" method="post" name="resform" id="resform" action="https://www.hipalmbeachairport.com/tracking/click-reservation.aspx">
                        <ul>
                            <li class="custom-reservation">
                                <label class="rtitle" for="checkindate">Check-in</label>
                                <input class="resinputbox" readonly="" id="checkindate" name="checkindate" type="text" value="">
                            </li>
                            <li class="custom-reservation">
                                <label class="rtitle" for="checkoutdate">Check-out</label>
                                <input class="resinputbox" readonly="" id="checkoutdate" name="checkoutdate" type="text" value="">
                            </li>
                            <li class="custom-reservation">
                                <label class="rtitle" for="NumberOfRooms">Rooms</label>
                                <select name="Rooms" id="NumberOfRooms" class="resdropdown">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </li>
                            <li class="custom-reservation">
                                <label class="rtitle" for="NumberOfAdults">Adults</label>
                                <select name="Adults" id="NumberOfAdults" class="resdropdown">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </li>
                            <li class="last-child custom-reservation">
                                <label class="rtitle" for="NumberOfChildrens">Children</label>
                                <select name="Children" id="NumberOfChildrens" class="resdropdown">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </li>
                            <li class=""> 
                                  <a class="button" role="button" href="javascript:{}" onkeypress="reservation_validation(); pushToGtmRenderByDom(this);" onclick="reservation_validation(); pushToGtmRenderByDom(this);" data-autodatalayer="" data-msevent="booking main" data-mscategory="booking entrances" data-msaction="click"><span class="formslable" aria-hidden="true">booking widget</span>Check Availability</a> 
                            </li>
                            <li class="last-child-btn res-text1 remind-me-later" id="remindme"><a class="button" href="javascript:{}" id="bookingremind">Remind me Later</a>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="clear"></div>
                <div id="res-rate-txt"> <a href="https://www.ihg.com/hotels/us/en/customer-care/lowest-internet-rate-terms-conditions" target="_blank" rel="nofollow">Best Rate Guarantee</a></div>
            </div>
        </div> 

    <br><br><br>
    <div class="bankforreserv"></div>
    <div id="contentinfo" class="fixheader">
      <div class="contentwrap">
        <div class="background-content">
          <div id="container">
            <div id="content">
              <div id="breadcrumb"><a href="index.html">Home</a><span class="brd-icon icon-rightArrow"></span>Things to Do</div>
              <section id="header">Things to Do</section>
              <div id="box">
                <article class="box2 text-center" id="pre-box">
                  <h1>Explore Florida&#39;s Orchid City <span>Stay Close to Fun Things To Do In West Palm Beach</span></h1>
                  <div class="firstpara">
                    From outlet shopping and history museums to world class performing arts, West Palm Beach offers visitors so many ways to relax and have fun. Take the kids to see exotic animals at the the Palm Beach Zoo or go on an outback adventure at the Lion Country Safari.
                    <div class="mobile-boxspacer">&nbsp;</div>
                    Wander through lush tropical landscapes at the Mounts Botanical Gardens or immerse yourself in Gilded Age glamour and history at the Flagler Museum. Shop for upscale bargains at the Palm Beach Outlets or enjoy shopping, dining and entertainment at the Rosemary Square.
                    <div class="mobile-boxspacer">&nbsp;</div>
                    Take in an MLB Spring Training baseball game at Ballpark of the Palm Beaches or try your luck with dog racing and table games at the Palm Beach Kennel Club. Whether you crave arts and entertainment, thrilling race action or family fun, get out to discover some of the best things to do near our hotel in West Palm Beach.
                  </div>
                </article>
              </div>
            </div>
            <div class="clear"> </div>
          </div>
        </div>

        <div class="full-width"><div class="snippet-box">
          <div id="specialpackage">
            <div class="attract-format snippet-main">
              <div class="edattraction thholder attractionleftbox1">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49481">
                  <input id="packagepageid" type="hidden" value="112084">
                  <div class="snippet-images-left">
                    <figure> <img alt="CityPlace in West Palm Beach Florida" src="/modules/things-to-dos/client/img/resourcefiles/attractionsmallimages/cityplace-in-west-palm-beach-florida-th.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> CityPlace</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">Fill your bags with apparel and accessories or enjoy delicious food, blockbuster movies and fun nightlife at Florida's premier shopping, dining and entertainment destination in West Palm Beach.</div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span><a id="third-party-address" href="https://www.google.com/maps/place/CityPlace,+West+Palm+Beach,+FL+33401/@26.7083558,-80.0592922,17z/data=!3m1!4b1!4m5!3m4!1s0x88d8d660ef8edbdb:0x6964e82499a5e0a!8m2!3d26.7083692!4d-80.0569849?shorturl=1" target="_blank" rel="nofollow"><span aria-hidden="true"><span>700 S Rosemary Ave</span>, <span>West Palm Beach</span>, <span>Florida</span>&nbsp;<span>33401</span></span> <span class="sr-only">View CityPlace location on google map </span></a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:556-366-1000" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">CityPlace phone number </span> 556-366-1000</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span><a href="http://www.cityplace.com/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Shopping & Nightlife
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="button-snippet">
                        <a class="button" href="things-to-do/cityplace.html">
                          <span aria-hidden="true">See Details</span>
                          <span class="sr-only">See CityPlace Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="edattraction thholder attractionleftbox2">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49482">
                  <input id="packagepageid" type="hidden" value="112085">
                  <div class="snippet-images-right">
                    <figure> <img alt="West Palm Beach Florida Flagler Museum" src="/modules/things-to-dos/client/img/resourcefiles/attractionsmallimages/west-palm-beach-florida-flagler-museum-th.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2> Flagler Museum</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Get a taste of the glamorous Gilded Age with guided estate tours, world-class art and antique exhibits, elegant afternoon tea, and special holiday events at this historic Palm Beach mansion.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span><a id="third-party-address" href="https://www.google.com/maps/place/Henry+Morrison+Flagler+Museum/@26.713327,-80.0463168,17z/data=!3m1!4b1!4m5!3m4!1s0x88d8d68e35c0dbed:0xd0d8ada1f6da9c92!8m2!3d26.7133222!4d-80.0441281?shorturl=1" target="_blank" rel="nofollow"><span aria-hidden="true"><span>1 Whitehall Way</span>, <span>Palm Beach</span>, <span>Florida</span>&nbsp;<span>33480</span></span> <span class="sr-only">View Flagler Museum location on google map </span></a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:561-655-2833" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">Flagler Museum phone number </span> 561-655-2833</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span><a href="http://www.flaglermuseum.us/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Family / Kids
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="button-snippet">
                        <a class="button" href="things-to-do/flagler-museum.html">
                          <span aria-hidden="true">See Details</span>
                          <span class="sr-only">See Flagler Museum Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="edattraction thholder attractionleftbox3">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49483">
                  <input id="packagepageid" type="hidden" value="112086">
                  <div class="snippet-images-left">
                    <figure> <img alt="The Ballpark of The Palm Beaches at Florida" src="/modules/things-to-dos/client/img/resourcefiles/attractionsmallimages/the-ballpark-of-the-palm-beaches-at-florida-th.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> The Ballpark of The Palm Beaches</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Cheer for the 2017 World Series Champion Houston Astros or the NL East Champion Washington Nationals during Spring Training at this intimate, fan-friendly stadium in West Palm Beach.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span><a id="third-party-address" href="https://www.google.com/maps/place/The+Ballpark+of+The+Palm+Beaches/@26.7543073,-80.1153688,17z/data=!3m1!4b1!4m5!3m4!1s0x88d92a1520874dff:0xf2a4528d564b1c47!8m2!3d26.7543025!4d-80.1131801?shorturl=1" target="_blank" rel="nofollow"><span aria-hidden="true"><span>5444 Haverhill Rd</span>, <span>West Palm Beach</span>, <span>Florida</span>&nbsp;<span>33407</span></span> <span class="sr-only">View The Ballpark of The Palm Beaches location on google map </span></a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:561-500-4487" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">The Ballpark of The Palm Beaches phone number </span> 561-500-4487</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span><a href="http://www.ballparkpalmbeaches.com/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Entertainment
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="button-snippet">
                        <a class="button" href="things-to-do/the-ballpark-of-the-palm-beaches.html">
                          <span aria-hidden="true">See Details</span>
                          <span class="sr-only">See The Ballpark of The Palm Beaches Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="edattraction thholder attractionleftbox4">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49484">
                  <input id="packagepageid" type="hidden" value="112095">
                  <div class="snippet-images-right">
                    <figure> <img alt="Mounts Botanical Gardens in West Palm Beach" src="/modules/things-to-dos/client/img/resourcefiles/attractionsmallimages/mounts-botanical-gardens-in-west-palm-beach-th.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2> Mounts Botanical Gardens</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Explore 14 acres of lush landscapes filled with more than 2,000 species of native and tropical plants, exotic trees and spectacular flowers at Palm Beach County's oldest and largest public garden.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://www.google.com/maps/place/Mounts+Botanical+Garden/@26.6854788,-80.1152987,17z/data=!3m1!4b1!4m5!3m4!1s0x88d928333dc83abb:0x2dd6148126661e13!8m2!3d26.685474!4d-80.11311?shorturl=1" target="_blank" rel="nofollow"><span aria-hidden="true"><span>531 N Military Trl</span>, <span>West Palm Beach</span>, <span>Florida</span>&nbsp;<span>33415</span></span> <span class="sr-only">View Mounts Botanical Gardens location on google map </span></a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:561-233-1757" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">Mounts Botanical Gardens phone number </span> 561-233-1757</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span><a href="https://www.mounts.org/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Attractions
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="button-snippet">
                        <a class="button" href="things-to-do/mounts-botanical-gardens.html">
                          <span aria-hidden="true">See Details</span>
                          <span class="sr-only">See Mounts Botanical Gardens Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="edattraction thholder attractionleftbox5">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49485">
                  <input id="packagepageid" type="hidden" value="112096">
                  <div class="snippet-images-left">
                    <figure> <img alt="Palm Beach Kennel Club at Florida" src="/modules/things-to-dos/client/img/resourcefiles/attractionsmallimages/palm-beach-kennel-club-at-florida-th.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> Palm Beach Kennel Club</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Place your bets at this long-running dog track and enjoy dining with a view of the live races, simulcast wagering on thoroughbred, harness and jai alai&nbsp;and a casino with poker and table games.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://www.google.com/maps/place/Palm+Beach+Kennel+Club/@26.6926649,-80.0906471,17z/data=!3m1!4b1!4m5!3m4!1s0x88d8d62fc79ed3f9:0x9f45c63744647c00!8m2!3d26.6926601!4d-80.0884584?shorturl=1" target="_blank" rel="nofollow"><span aria-hidden="true"><span>1111 N Congress Ave</span>, <span>West Palm Beach</span>, <span>Florida</span>&nbsp;<span>33409</span></span> <span class="sr-only">View Palm Beach Kennel Club location on google map </span></a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:561-683-2222" data-phonenumber="third-party-phone" target="_blank" rel="nofollow">
                              <span class="sr-only">Palm Beach Kennel Club phone number </span> 561-683-2222
                            </a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span>
                            <a href="https://pbkennelclub.com/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Entertainment
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="button-snippet">
                        <a class="button" href="things-to-do/palm-beach-kennel-club.html">
                          <span aria-hidden="true">See Details</span>
                          <span class="sr-only">See Palm Beach Kennel Club Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="edattraction thholder attractionleftbox6">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49486">
                  <input id="packagepageid" type="hidden" value="112097">
                  <div class="snippet-images-right">
                    <figure> <img alt="Palm Beach Zoo in Florida" src="/modules/things-to-dos/client/img/resourcefiles/attractionsmallimages/palm-beach-zoo-in-florida-th.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2> Palm Beach Zoo</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Situated in scenic&nbsp;Dreher Park, this 23-acre zoo is filled with lush tropical habitats and home to more than 550 threatened and endangered animals, including tigers, sloths, koalas, and tortoises.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://www.google.com/maps/place/Palm+Beach+Zoo+%26+Conservation+Society/@26.6660916,-80.0708484,17z/data=!3m1!4b1!4m5!3m4!1s0x88d8d7ba4482b63f:0x2d262286767bb754!8m2!3d26.6660868!4d-80.0686597?shorturl=1" target="_blank" rel="nofollow">
                              <span aria-hidden="true"><span>1301 Summit Blvd</span>, <span>West Palm Beach</span>, <span>Florida</span>&nbsp;<span>33405</span></span> <span class="sr-only">View Palm Beach Zoo location on google map </span>
                            </a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:561-547-9453" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">Palm Beach Zoo phone number </span> 561-547-9453</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd"><span class="icon-laptop ttd-icon"></span><a href="http://www.palmbeachzoo.org/" rel="nofollow" target="_blank">Visit Website</a></div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Family / Kids
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="button-snippet">
                        <a class="button" href="things-to-do/palm-beach-zoo.html">
                          <span aria-hidden="true">See Details</span>
                          <span class="sr-only">See Palm Beach Zoo Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="edattraction thholder attractionleftbox7">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49487">
                  <input id="packagepageid" type="hidden" value="112098">
                  <div class="snippet-images-left">
                    <figure> <img alt="Lion Country Safari in Loxahatchee, Florida" src="/modules/things-to-dos/client/img/resourcefiles/attractionsmallimages/lion-country-safari-in-loxahatchee-florida-th.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> Lion Country Safari</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Discover over 1,000 of the world's most interesting and exotic animals and enjoy fun family activities, rides and food at Florida's only drive-through safari and walk-through amusement park.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://www.google.com/maps/place/Lion+Country+Safari/@26.7163712,-80.3265515,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9310746838825:0x795129efcd550f59!8m2!3d26.7163664!4d-80.3243628?shorturl=1" target="_blank" rel="nofollow">
                              <span aria-hidden="true"><span>2003 Lion Country Safari Rd</span>, <span>Loxahatchee</span>, <span>Florida</span>&nbsp;<span>33470</span></span> <span class="sr-only">View Lion Country Safari location on google map </span>
                            </a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:561-793-1084" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">Lion Country Safari phone number </span> 561-793-1084</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span><a href="http://www.lioncountrysafari.com/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Family / Kids
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="button-snippet">
                        <a class="button" href="things-to-do/lion-country-safari.html">
                          <span aria-hidden="true">See Details</span>
                          <span class="sr-only">See Lion Country Safari Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="edattraction thholder attractionleftbox8">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49488">
                  <input id="packagepageid" type="hidden" value="112099">
                  <div class="snippet-images-right">
                    <figure> <img alt="West Palm Beach Kravis Center, Florida" src="/modules/things-to-dos/client/img/resourcefiles/attractionsmallimages/west-palm-beach-kravis-center-florida-th.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2> Kravis Center</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Experience world-class dance performances, touring Broadway productions, concerts, lectures, and family shows&nbsp;at this premier arts and entertainment facility in West Palm Beach.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://www.google.com/maps/place/Kravis+Center/@26.7067864,-80.0627321,17z/data=!3m1!4b1!4m5!3m4!1s0x88d8d66764a30ed3:0xffbba0c49ebb176a!8m2!3d26.7067816!4d-80.0605434?shorturl=1" target="_blank" rel="nofollow">
                              <span aria-hidden="true"><span>701 Okeechobee Blvd</span>, <span>West Palm Beach</span>, <span>Florida</span>&nbsp;<span>33401</span></span> <span class="sr-only">View Kravis Center location on google map </span>
                            </a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:561-832-7469" data-phonenumber="third-party-phone" target="_blank" rel="nofollow">
                              <span class="sr-only">Kravis Center phone number </span> 561-832-7469
                            </a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span>
                            <a href="https://www.kravis.org/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Entertainment
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="button-snippet">
                        <a class="button" href="things-to-do/kravis-center.html">
                          <span aria-hidden="true">See Details</span>
                          <span class="sr-only">See Kravis Center Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="edattraction thholder attractionleftbox9">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49489">
                  <input id="packagepageid" type="hidden" value="112100">
                  <div class="snippet-images-left">
                    <figure> <img alt="Palm Beach Outlets in Florida" src="/modules/things-to-dos/client/img/resourcefiles/attractionsmallimages/palm-beach-outlets-in-florida-th.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> Palm Beach Outlets</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Fill your bags with bargains at this outlet mall and shop at over 100 stores including Saks Fifth Avenue OFF 5th, Banana Republic, DKNY, Brooks Brothers, J. Crew, and Ann Taylor.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://www.google.com/maps/place/Palm+Beach+Outlets/@26.7252799,-80.0892701,17z/data=!3m1!4b1!4m5!3m4!1s0x88d8d605ea8a9697:0xc9d6514f31b39f96!8m2!3d26.7252751!4d-80.0870814?shorturl=1" target="_blank" rel="nofollow">
                              <span aria-hidden="true"><span>1751 Palm Beach Lakes Blvd</span>, <span>West Palm Beach</span>, <span>Florida</span>&nbsp;<span>33401</span></span> <span class="sr-only">View Palm Beach Outlets location on google map </span>
                            </a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:561-515-4400" data-phonenumber="third-party-phone" target="_blank" rel="nofollow">
                              <span class="sr-only">Palm Beach Outlets phone number </span> 561-515-4400
                            </a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span>
                            <a href="https://www.palmbeachoutlets.com/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Shopping & Nightlife
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                      <div class="button-snippet">
                        <a class="button" href="things-to-do/palm-beach-outlets.html">
                          <span aria-hidden="true">See Details</span>
                          <span class="sr-only">See Palm Beach Outlets Details</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div></div>
          </div>
          <div class="clear">&nbsp;</div>
        </div></div>
    </div>
</div>
</section>
