<section>
<div id="wrapper">
    <div class="bankforreserv"></div>
    <div id="contentinfo" class="fixheader">
      <div class="contentwrap">
        <div class="background-content">
          <div id="container">
            <div id="content">
              <div id="breadcrumb"><a ng-click="backToHomePage()" href="#">Home</a><span class="brd-icon icon-rightArrow"></span>Things to Do</div>
              <section id="header">Things to Do</section>
              <div id="box">
                <article class="box2 text-center" id="pre-box">
                  <h1>Explore Los Angeles County <span>Stay Close to Fun Things To Do In Aztec Hotel</span></h1>
                  <div class="firstpara">
                    From beautiful old town and art museums to world class Park, Aztec Hotel offers visitors so many ways to relax and have fun. Take the kids to hiking at the Big Santa Anita Canyon or go on an adventure at the Hermit Falls.
                    <div class="mobile-boxspacer">&nbsp;</div>
                    Wander through 16 different type of gardens at the Huntington Library, Art Museum or immerse yourself in nature at the Los Angeles County Arboretum. Enjoy shoping and dining at the Santa Anita Mall.
                    <div class="mobile-boxspacer">&nbsp;</div>
                    Take the kids go meet Mickey at the Disneyland Park or enjoy the sunshine on Seal Beach and Long Beach. Whether you crave arts and entertainment, thrilling hiking or family fun, get out to discover some of the best things to do near our hotel.
                  </div>
                </article>
              </div>
            </div>
            <div class="clear"> </div>
          </div>
        </div>

        <div class="full-width"><div class="snippet-box">
          <div id="specialpackage">
            <div class="attract-format snippet-main">

              <div class="edattraction thholder attractionleftbox1">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49481">
                  <input id="packagepageid" type="hidden" value="112084">
                  <div class="snippet-images-left">
                    <figure> <img alt="Old Town Monrovia" src="/modules/things-to-dos/client/img/aztec_image/Monrovia_old_town.gif" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2>Old Town Monrovia</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">Old Town Monrovia embraces the historic past, while still enjoying an exciting and vibrant future. This unique downtown environment blends charm and classic American themes with modern day conveniences.</div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span><a id="third-party-address" href="https://goo.gl/maps/8VVXmANhuw3W6P2Z6" target="_blank" rel="nofollow"><span aria-hidden="true"><span>400 S Myrtle Ave</span>, <span>Monrovia</span>, <span>CA</span>&nbsp;<span>91016</span></span> <span class="sr-only">View Old Town Monrovia location on google map </span></a> 
                          </div>


                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span><a href="http://monroviaoldtown.org/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Shopping & Nightlife
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox2">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49482">
                  <input id="packagepageid" type="hidden" value="112085">
                  <div class="snippet-images-right">
                    <figure> <img alt="Canyon Park" src="/modules/things-to-dos/client/img/aztec_image/canyon_park.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2>Canyon Park</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Monrovia Canyon Park is a natural park. This park located in the foothills above Monrovia at the confluence of Monrovia and Sawpit Canyons, provides its visitors the experience of the beautiful San Gabriel Mountain wilderness within minutes of urban sprawl. 
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span><a id="third-party-address" href="https://goo.gl/maps/1EYS5ofh7Jh9T1B66" target="_blank" rel="nofollow"><span aria-hidden="true"><span>1200 N Canyon Blvd</span>, <span>Monrovia</span>, <span>CA</span>&nbsp;<span>91016</span></span> <span class="sr-only">View Canyon Park location on google map </span></a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:626-256-8282" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">Canyon Park phone number </span> 626-256-8282</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span><a href="https://www.cityofmonrovia.org/Home/Components/FacilityDirectory/FacilityDirectory/28/787" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Family / Kids / Hiking
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox3">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49483">
                  <input id="packagepageid" type="hidden" value="112086">
                  <div class="snippet-images-left">
                    <figure> <img alt="Los Angeles County Arboretum" src="/modules/things-to-dos/client/img/aztec_image/la_arboretum.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> Los Angeles County Arboretum</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          The arboretum's plants are grouped by geography with gardens for South American, Mediterranean, South African, Australian and Asiatic-North American plants. Other displays include the Aquatic Garden, Meadowbrook, Demonstration Home Gardens, Garden for All Seasons, Prehistoric and Jungle Garden, Native Oaks, Herb Garden, and the Palm and Bamboo collection.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span><a id="third-party-address" href="https://goo.gl/maps/gc3NbczCVtkVaPdUA" target="_blank" rel="nofollow"><span aria-hidden="true"><span>301 N Baldwin Ave</span>, <span>Arcadia</span>, <span>CA</span>&nbsp;<span>91007</span></span> <span class="sr-only">View Los Angeles County Arboretum location on google map </span></a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:626-821-3222" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">Los Angeles County Arboretum phone number </span> 626-821-3222</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span><a href="https://www.arboretum.org/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Family / Kids
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox4">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49484">
                  <input id="packagepageid" type="hidden" value="112095">
                  <div class="snippet-images-right">
                    <figure> <img alt="Mounts Botanical Gardens in West Palm Beach" src="/modules/things-to-dos/client/img/aztec_image/santa_anita_mall.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2>Santa Anita Mall</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Westfield Santa Anita is a super-regional shopping mall located in Arcadia, California adjacent to the Santa Anita Race Track.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://goo.gl/maps/9FL3Ka9wMVFXSi2Y8" target="_blank" rel="nofollow"><span aria-hidden="true"><span>400 S Baldwin Ave</span>, <span>Arcadia</span>, <span>CA</span>&nbsp;<span>91007</span></span> <span class="sr-only">View Santa Anita Mall location on google map </span></a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:626-445-3116" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">Santa Anita Mall phone number </span> 626-445-3116</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span><a href="https://www.westfield.com/santaanita" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Shopping
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>


              <div class="edattraction thholder attractionleftbox5">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49485">
                  <input id="packagepageid" type="hidden" value="112096">
                  <div class="snippet-images-left">
                    <figure> <img alt="Hermit Falls" src="/modules/things-to-dos/client/img/aztec_image/big_santa_anita_canyon.png" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> Big Santa Anita Canyon</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Big Santa Anita Canyon is located in the “Front Country” of the San Gabriel Mountains above the cities of Sierra Madre and Arcadia, California. The multi-forked watershed was known historically as The Big Santa Anita.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://goo.gl/maps/ygzUiqitvXHd5Uqc9" target="_blank" rel="nofollow"><span aria-hidden="true"><span>Chantry Flat Rd</span>, <span>Arcadia</span>, <span>CA</span>&nbsp;<span>91006</span></span> <span class="sr-only">View Big Santa Anita Canyon location on google map </span></a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:626-355-1414" data-phonenumber="third-party-phone" target="_blank" rel="nofollow">
                              <span class="sr-only">Big Santa Anita Canyon phone number </span> 626-355-1414
                            </a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span>
                            <a href="http://santaanitacanyon.com/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Family / Kids / Hiking
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox6">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49486">
                  <input id="packagepageid" type="hidden" value="112097">
                  <div class="snippet-images-right">
                    <figure> <img alt="Palm Beach Zoo in Florida" src="/modules/things-to-dos/client/img/aztec_image/gold_course.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2> Santa Anita Golf Course</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Santa Anita is a great 18 hole regulation course located at the Santa Anita Golf Course facility in Arcadia, CA.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://goo.gl/maps/SVucBH4jke1vasJXA" target="_blank" rel="nofollow">
                              <span aria-hidden="true"><span>405 S Santa Anita Ave</span>, <span>Arcadia</span>, <span>CA</span>&nbsp;<span>91006</span></span> <span class="sr-only">View Santa Anita Golf Course location on google map </span>
                            </a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:626-447-2331" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">Santa Anita Golf Course phone number </span> 626-447-2331</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd"><span class="icon-laptop ttd-icon"></span><a href="https://www.santaanitagc.com/" rel="nofollow" target="_blank">Visit Website</a></div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Sport
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox7">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49487">
                  <input id="packagepageid" type="hidden" value="112098">
                  <div class="snippet-images-left">
                    <figure> <img alt="Lion Country Safari in Loxahatchee, Florida" src="/modules/things-to-dos/client/img/aztec_image/art_museum.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> The Huntington Library, Art Museum</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          The Huntington is a collections-based educational and research institution. In addition to the library, the institution houses an extensive art collection with a focus on European art and American art.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://g.page/TheHuntington?share" target="_blank" rel="nofollow">
                              <span aria-hidden="true"><span>1151 Oxford Rd</span>, <span>San Marino</span>, <span>CA</span>&nbsp;<span>33470</span></span> <span class="sr-only">View The Huntington Library, Art Museum location on google map </span>
                            </a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:626-405-2100" data-phonenumber="third-party-phone" target="_blank" rel="nofollow"><span class="sr-only">The Huntington Library, Art Museum phone number </span> 626-405-2100</a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span><a href="https://www.huntington.org/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Family / Kids
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox8">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49488">
                  <input id="packagepageid" type="hidden" value="112099">
                  <div class="snippet-images-right">
                    <figure> <img alt="West Palm Beach Kravis Center, Florida" src="/modules/things-to-dos/client/img/aztec_image/universal_studio.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2> Universal Studios Hollywood</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Universal Studios Hollywood is a film studio and theme park in the San Fernando Valley area of Los Angeles County, California. It is one of the oldest and most famous Hollywood film studios still in use.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://goo.gl/maps/ekYxeSGRHhrsiXs8A" target="_blank" rel="nofollow">
                              <span aria-hidden="true"><span>100 Universal City Plaza</span>, <span>Universal City</span>, <span>CA</span>&nbsp;<span>91608</span></span> <span class="sr-only">View Universal Studios Hollywood location on google map </span>
                            </a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:800-864-8377" data-phonenumber="third-party-phone" target="_blank" rel="nofollow">
                              <span class="sr-only">Universal Studios Hollywood phone number </span> 800-864-8377
                            </a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span>
                            <a href="https://www.universalstudioshollywood.com/web/en/us" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Entertainment
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox9">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49489">
                  <input id="packagepageid" type="hidden" value="112100">
                  <div class="snippet-images-left">
                    <figure> <img alt="Palm Beach Outlets in Florida" src="/modules/things-to-dos/client/img/aztec_image/disney.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> Disneyland Park</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          The park features many rides and attractions, dining options, and walk-around characters, including Mickey Mouse and his friends as well as Disney Princesses, characters from the Star Wars and Marvel franchises, and many more.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://goo.gl/maps/WaP9rSpnbPuBX94FA" target="_blank" rel="nofollow">
                              <span aria-hidden="true"><span>1313 Disneyland Dr</span>, <span>Anaheim</span>, <span>CA</span>&nbsp;<span>92802</span></span> <span class="sr-only">View Disneyland Park location on google map </span>
                            </a> 
                          </div>
                          <div class="attractionsnippet-phone">
                            <span class="icon-phone ttd-icon"></span>
                            <a href="tel:714-781-4636" data-phonenumber="third-party-phone" target="_blank" rel="nofollow">
                              <span class="sr-only">Disneyland Park phone number </span> 714-781-4636
                            </a>
                          </div>
                          <span class="ttd-pipe"></span>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span>
                            <a href="https://disneyland.disney.go.com/destinations/disneyland/?CMP=OKC-330339_GM_DLR_destination_disneylandpark_NA" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Entertainment
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="edattraction thholder attractionleftbox10">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49490">
                  <input id="packagepageid" type="hidden" value="112100">
                  <div class="snippet-images-right">
                    <figure> <img alt="Hollywood Walk of Frame" src="/modules/things-to-dos/client/img/aztec_image/Hollywood_Walk of_Frame.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-left">
                    <div class="snippet-inner">
                      <h2> Hollywood Walk of Frame</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          The Hollywood Walk of Fame comprises more than 2,690 five-pointed terrazzo and brass stars embedded in the sidewalks along 15 blocks of Hollywood Boulevard and three blocks of Vine Street in Hollywood, California. The stars are permanent public monuments to achievement in the entertainment industry.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://goo.gl/maps/sesN5hYGn7RVhhpb8" target="_blank" rel="nofollow">
                              <span aria-hidden="true"><span>Hollywood Boulevard,Vine St</span>, <span>Los Angeles</span>, <span>CA</span>&nbsp;<span>90028</span></span> <span class="sr-only">View Hollywood Walk of Frame location on google map </span>
                            </a> 
                          </div>
                          <div class="sitelink-ttd">
                            <span class="icon-laptop ttd-icon"></span>
                            <a href="https://walkoffame.com/" rel="nofollow" target="_blank">Visit Website</a>
                          </div>
                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Family/ Kids 
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>


              <div class="edattraction thholder attractionleftbox11">
                <div class="snippet-mid">
                  <input id="pkgid" type="hidden" value="49491">
                  <input id="packagepageid" type="hidden" value="112100">
                  <div class="snippet-images-left">
                    <figure> <img alt="Palm Beach Outlets in Florida" src="/modules/things-to-dos/client/img/aztec_image/long_beach.jpg" height="566" width="800"> </figure>
                  </div>
                  <div class="snippet-content-right">
                    <div class="snippet-inner">
                      <h2> Long Beach city beach</h2>
                      <div class="attractnippetdesc content-desc-inner">
                        <div class="attractionnippetdesc content-desc-inner">
                          Long Beach is best known for its urban waterfront attractions, like the Queen Mary and the Aquarium of the Pacific.
                        </div>
                        <div class="ttd-address-phone">
                          <div class="ttd-address">
                            <span class="icon-location ttd-icon"></span>
                            <a id="third-party-address" href="https://goo.gl/maps/FdYvX1wzGAJrcu3r8" target="_blank" rel="nofollow">
                              <span aria-hidden="true"><span>Long Beach</span>, <span></span> <span>CA</span>&nbsp;<span>90803</span></span> <span class="sr-only">View Long Beach city beach location on google map </span>
                            </a> 
                          </div>

                        </div>
                        <div class="attraction-spcat">
                          <span class="icon-tree ttd-icon"></span>Category: Entertainment
                        </div>
                        <div class="readwritelink">Rating </div>
                        <div class="msftd_rating">
                          <div class="classification">
                            <div class="cover"></div>
                            <div class="progress" style="width: %;"></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>


            </div></div>
          </div>
          <div class="clear">&nbsp;</div>
        </div></div>
    </div>
</div>
</section>
