#cke_editor1{
	width:auto
}.cke_skin_kama .cke_wrapper
{
	background-color:transparent;background-image:none;padding:0;margin:0
}
.cke_show_borders 
#fact-box{
	margin-top:0
}
body.cke_show_borders{
	background:0 0!important
}body.cke_show_borders a{
	text-decoration:none!important;list-style:none
}.cke_skin_kama .cke_wrapper{

}
#cke_editor1{
	border:1px dashed!important;
	padding-left:2px;padding-right:2px
}
#cke_top_editor1,#cke_bottom_editor1
{
	background-color:#fcfcfc
}
.cke_skin_kama .cke_wrapper{}