html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,
sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,container{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background:0 0
}
body{
	margin:0;
	padding:0;
	font-size:13px;
	line-height:22px;
	font-family:arial;
	color:#fff;background:#887e6e
}

#main{
	display:block;
	margin:0 auto;
	padding:0;
	width:982px;
	position:relative;
	z-index:10;top:12px
}

#main,#mainimage,#backtotop,#subnav,#offer-banner,aside,
#owner,#resorts,#middle,.specila-pkg,.spnav,#imenu,.catcombobox1,
#spnav,#mainimage-wrap,#holder,#ugc,#footerlink,.quote,#footer,#nav,
.social-like,.socialmediabuttons_wrap,.readmoretest,.homesection-1,
.homesection-2,.homesection-3,.homesection-4,.middle,.footerLink,
.ftr-rightcontent,.popular-links,.information,.ttd-holder,#floatingbooknow,
#spholder,.ttd-home-img,#supersized{
	display:none!important
}

#middle{
	display:block;
	height:92px;
	margin:0 auto;
	position:relative;z-index:50
}

#container{
	padding:0;
	margin:0;position:relative;
	float:left;z-index:11;
	padding-top:0;margin-top:0;
	width:650px
}

#bottomimg{
	position:relative;
	z-index:0!important;
	float:left;
	margin-top:0;
	width:650px
}

#content{
	float:left;
	padding:0;
	width:650px
}

#content #box{
	clear:both;
	float:left;
	padding:0 0 10px;
	width:650px
}

#headerimage{
	position:relative;
	float:left;
	text-align:left;
	padding-top:0;
	margin-top:0
}

.clear{
	clear:both
}

.titlehome{
	font-size:15px;
	color:#fff;
	display:inline
}

.googleaddress{
	color:#666;
	float:left;
	padding:0;
	margin-top:20px;
	text-align:left
}

#contentinfo{
	margin:0!important
}

.direct-access{
	display:block!important
}

.homesection-5,.homesection-4,.homesection-3,.homesection-2,.homesection-6,
.homesection-1,#supersized,.helpful,#fact-box,#footer-logos{
	display:none!important
}

#header{
	text-align:left!important
}

.text-center{
	text-align:left!important
}